	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a href="/student/resume/index" class="btn btn-small pull-right" style="margin-top: 12px;">Resume Tool</a>
				<h1 class="page-header">Work Experience</h1>
			</div>
			<div class="col-md-8 offset-md-2">
				
				<table class="table table-striped table-condensed">
					<tr>
						<th>Company</th>
						<th><a href="/student/resume/experience/new" class="btn btn-small btn-success pull-right"><i class="icon-plus"></i> New</a></th>
					</tr>
					<% @student.experiences.each do |experience| %>
					<tr>
						<td><%= experience.company %></a></td>
						<td style="text-align: right;"><a href="/student/resume/experience/<%= experience.id %>/edit" class="btn btn-small">Edit</a> &nbsp; <a href="/student/resume/experience/<%= experience.id %>/view" class="btn btn-small">View</a></td>
					</tr>
					<% end %>
				</table>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->

