	<div class="container">	
		<div class="row">  
			<div class="col-md-8 offset-md-2">
				<a href="/admin/signout" class="btn btn-small btn-success pull-right" style="margin-top: 12px; background-color: #000000;"><i class="icon-signout"></i> &nbsp;Sign out</a>
				<h1 class="page-header">Admin &nbsp;&nbsp;<small style="color: #a8a8a8;"><%= @admin.first_name %> <%= @admin.last_name %></small></h1>
				<table class="table table-striped table-hover ">
					<tr>
						<th>Student List</th>
						<td style="text-align: right;"><a href="/student/resume/students" class="btn btn-small">View Students</a></td>
					</tr>
					<tr>
						<th>Student List for export</th>
						<td style="text-align: right;"><a href="/student/resume/students-school" class="btn btn-small">View Students</a></td>
					</tr>
					<tr>
						<th>School List</th>
						<td style="text-align: right;"><a href="/arng/schools/schools" class="btn btn-small">View Schools</a></td>
					</tr>
					<tr>
						<th>Recruiters</th>
						<td style="text-align: right;"><a href="/recruiters/recruiters" class="btn btn-small">View Recruiters</a></td>
					</tr>
					<!-- <tr>
						<th>RRC List</th>
						<td style="text-align: right;"><a href="/rrcs" class="btn btn-small">View RRCs</a></td>
					</tr> -->
					<tr>
						<th>Admin</th>
						<td style="text-align: right;"><a href="/admin/admin" class="btn btn-small">View Admins</a></td>
					</tr>
				</table>
			</div>
			<div class="span3 offset1">
				<br />
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->

