<div class="container-white">
	<div class="container">	
		<div class="row-fluid">  
			<div class="span6 offset3 well">
				<h1>Admin</h1>
				<form method="post">
						<input type="password" name="password" id="password" value="<%= params[:password] %>" class="input-xlarge search-query" /> &nbsp;
						<input type="Submit" class="btn btn-success" value="Enter"><br />
				</form>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

