<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span8">
				<h1>Admin</h1>

				<table class="table table-striped table-hover table-bordered">
					<tr>
						<th>Edit Schools</th>
						<td><a href="/arng/schools/schools">View Schools</a></td>
					</tr>
					<tr>
						<th>RRC List</th>
						<td><a href="/rrcs">View RRCs</a></td>
					</tr>
					<tr>
						<th>Student List</th>
						<td><a href="/student/resume/students">View Students</a></td>
					</tr>
				</table>
			</div>
			<div class="span3 offset1">
				<br /><br /><br /><br />

				<a href="../index" class="btn btn-success"><i class="icon-signout"></i> &nbsp;Sign out</a></p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

