<div class="container" style="margin-bottom: 4em;">	
	<div class="row">  
		<div class="col-md-12">
			<h1 class="page-header">New Admin Password</h1>
		</div>
	</div>
	<form method="post">
	<div class="row"> 
		<div class="col-md-6">
			<div class="form-row">
				<div class="form-group">
					<label for="password">Password</label>
					<input type="text" name="password" id="password" class="form-control" value="<%= @admin.password %>" required autofocus/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group">
					<p><input class="btn btn-primary" type="submit" value="Save" /> </p>
				</div>
			</div>
		</div> <!-- /span6 -->
	</form>	
	</div> <!-- /row -->
</div> <!-- /container -->

