<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Award &nbsp; <small><%= @student.name %></small></h1><br />
			</div>
			<div class="span8 offset2">	
				
				<p>Describe your Awards and Commendations. You can enter others after saving.</p>
		
				<form class="form-horizontal" method="post">
					
					<div class="control-group">
					   <label class="control-label" for="award">Award</label>
						<div class="controls">
							<input type="text" name="award" id="award" class="textfield span4" value="<%= @award.award %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="award_date">Date (Month Year)</label>
						<div class="controls">
							<input type="text" class="textfield span4" name="award_date" id="award_date" value="<%= @award.award_date %>" />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume/awards/awards">Cancel</a> &nbsp; <% if @student.awards.count > 0 %><a class="btn btn-small btn-warning delete" href="/student/resume/awards/<%= @award.id %>/delete">Delete</a><% end %>
						</div>
					</div>
					
				</form>	
				
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

