<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span4 offset3">
				<h1>Award &nbsp; <small><%= @student.name %></small></h1><br />
		
				<form method="post">
					
					<p>
						<label for="award">Award</label>
						<input type="text" name="award" id="award" class="textfield span4" value="<%= @award.award %>" />
					</p>
					<p>
						<label for="award_date">Date</label>
						<input type="text" name="award_date" id="award_date" class="textfield span4" value="<%= @award.award_date %>" />
					</p>
					
					<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume/awards/awards">Cancel</a> &nbsp; <a class="btn btn-small btn-warning pull-right" href="/student/resume/awards/<%= @award.id %>/delete">Delete</a>
					
					</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

