	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a href="/student/resume/index" class="btn btn-small pull-right" style="margin-top: 12px;">Resume Tool</a>
				<h1 class="page-header">Award</h1>
			</div>
		</div>

		<form method="post" class="form-horizontal">
		
		<div class="form-row">
			<div class="form-group col-md-8 offset-md-2">
				<p>Describe your Awards and Commendations. You can enter others after saving.</p>
				<label for="award">Award</label><br />
				<input type="text" name="award" id="award" class="textfield col-md-8" value="<%= @award.award %>" />
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-8 offset-md-2">
				<label for="award_date">Date (Month Year)</label><br />
				<input type="text" class="textfield col-md-4" name="award_date" id="award_date" value="<%= @award.award_date %>" />
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-8 offset-md-2">
				<label for="award_date">&nbsp; </label><br />
				<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume/awards/awards">Cancel</a> &nbsp; <% if @student.awards.count > 0 %><a class="btn btn-small btn-warning delete" href="/student/resume/awards/<%= @award.id %>/delete">Delete</a><% end %>
			</div>
	
				
		</div> <!-- /row -->
		</form>	
	</div> <!-- /container -->

