<div class="container">
	<ul class="breadcrumb">
		<li class="active"><a href="arng">Career Direction 2</a> <span class="divider"> </span> </li>
		<li><a href="leads">Generate Leads</a> <span class="divider"> </span> </li>
		<li><a href="register">Register Your School</a> <span class="divider"> </span> </li>
		<li><a href="feedback">Recruiter Feedback</a> <span class="divider"> </span> </li>
		<li><a href="practices">Best Practices</a> <span class="divider"> </span> </li>
		<li><a href="downloads">Downloads</a> <span class="divider"> </span> </li>
		<li><a href="faq">FAQ</a> <span class="divider"> </span> </li>
	</ul>
</div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Career Direction 2</h1>
			</div>
			<div class="span8">
				<p class="lead">As the sponsor of <strong>Career Direction 2</strong>, the <strong>Army National Guard</strong> continues to support its mission first established in 1636 to provide for the security and well-being of our country and communities. The Guard saves lives during floods, tornadoes, blizzards, and other disasters.</p>
				<p>Guard members protect and defend. Both the Guard and Career Training Concepts are proud to be your partners in this important endeavor of planning your future.</p>
				<p>The National Guard offers educational, training, employment, financial assistance, and personal growth opportunities for qualifying students.</p>
				<p class="under-link">Visit <a href="http://www.NationalGuard.com">NationalGuard.com</a> for more information on the Army National Guard.</p><br />
			
				<div class="well sign">		
					<h6>Access to the Career Direction 2 ARNG Section is restricted to National Guard Representatives.</h6>
					<p>Please provide your authorization code:</p>
					
				<form name="login_form" method="post" action="../arng/leads">
					
						<input name="AuthCode" id="AuthCode" type="password" /> 
						<input type="Submit" class="btn btn-success" value="Enter"><br />
				
				</form>
				<hr />
				<form name="password_lookup" method="post" action="arng/password_lookup.cfm" onSubmit = "return(handleSubmit(this));">
					
					<h5>Forgotten your authorization code?</h5>
					<p>Are you an ARNG Representative?</p>
					<p>In what state do you serve? &nbsp; <input name="State" id="State" type="text" class="span1"  />	
						
		 			  <label for="email">Name</label>
		 				<input type="text" class="textfield span4" name="email" id="email" value="<%= params[:email] %>" />
		 					
		 				<label for="password">Email</label>
		 				<input type="password" class="textfield span4" name="password" id="password" value="<%= params[:password] %>" />
		 					<br />
		 		    <input type="submit" class="btn btn-success" value="Enter" />

				</div>
			</div>
			
			<div class="span4">
				<p><img src="../img/chopper.jpg" class="pic-border" /></p>
			</div>
			
		</div>
	</div> <!-- /container -->
</div> <!-- /container-white -->
