<div class="container">
	<ul class="breadcrumb">
		 <li><a href="arng">Career Direction 2</a> <span class="divider"> </span> </li>
		 <% if session[:cdguard] == true %>
		 <li><a href="leads">Generate Leads</a> <span class="divider"> </span> </li>
		 <li><a href="register">Register Your School</a> <span class="divider"> </span> </li>
		 <li><a href="feedback">Recruiter Feedback</a> <span class="divider"> </span> </li>
		 <li><a href="practices">Best Practices</a> <span class="divider"> </span> </li>
		 <li><a href="downloads" style="color: #9a0000;">Downloads</a> <span class="divider"> </span> </li>
		 <li><a href="faq">FAQ</a> <span class="divider"> </span> </li>
		 <% end %>
	 </ul>
</div>

<div class="container-white">
	<div class="container">	
		<h1 class="page-header">Download Materials</h1>
		<div class="row">  
			<div class="span8 under-link">
				
				<p align="left"><a href="../downloads/CTC_Cluster_CarDir.pdf" class="under-link">CD2 Career Categories and US DOE Career Clusters Comparison Chart for 36th and Prior Editions</a></p>
				<p align="left"><a href="" class="under-link">PowerPoint Presentation for the Career Direction 2 38th Edition</a></p>
				<p align="left"><a href="../downloads/CD2_Letter_to_Educator.docx" class="under-link">Marketing letter to your educators!</a></p>
				<p align="left"><a href="../downloads/CD2_FeedbackSheet.pdf" class="under-link">Feedback sheet for 11th and 12th grade students</a></p>

			</div>
		
			<div class="span4">
				<p><img src="../img/ng-slide.png" class="pic-border" /></p>
			</div>
		</div>
	</div> <!-- /container -->
</div> <!-- /container-white -->
