	<div class="container">	
		<h1 class="page-header">Download Materials</h1>
		<div class="row">  
			
			
			<div class="col-md-8 under-link">
				
				<p align="left"><a href="../downloads/CTC-Cluster-CarDir.pdf" class="under-link" target="blank">CD2 Career Categories and US DOE Career Clusters Comparison Chart for 41st and Prior Editions</a></p>
				<p align="left"><a href="https://www.dropbox.com/s/4ily2eyv0m8cju7/__CD2%20Presentation%20Slides%20%28v%2041%29%20Jan2018.pptx?dl=0" class="under-link">CD2 PowerPoint Presentation 41st Edition February 2018</a></p>
				<p align="left"><a href="../downloads/CD2_Letter_to_Educator.docx" class="under-link">Marketing letter to your educators!</a></p>
				<p align="left"><a href="../downloads/CD2_FeedbackSheet.pdf" class="under-link">Feedback sheet for 11th and 12th grade students</a></p>
				
				<p align="left"><a href="../downloads/CD2_Workshop_Poster_letter-size.pdf" class="under-link" target="blank">CD2 Workshop Poster Printable Letter-size PDF</a></p>
				<p align="left"><a href="../downloads/CD2_Workshop_Poster_11x17.pdf" class="under-link" target="blank">CD2 Workshop Poster Printable 11x17 PDF</a></p>
				<p align="left"><a href="../downloads/CD2_Workshop_Poster_24x36.pdf" class="under-link" target="blank">CD2 Workshop Poster Printable 24x36 PDF</a></p>
				<p align="left"><a href="../downloads/CD2_Workshop_Poster_48x72.pdf" class="under-link" target="blank">CD2 Workshop Poster Printable 48x72 PDF</a></p>
				<p align="left"><a href="../downloads/CD2_Lesson_Plan_for_Educators.pdf" class="under-link" target="blank">CD2 Lesson Plan for Educators PDF</a></p>
				<p align="left"><a href="../downloads/CD2_Presentation_Slides_for_Educators.pptx" class="under-link" target="blank">CD2 Presentation Slides for Educators</a></p>

			</div>
		
			<div class="col-md-4" style="text-align: center;">
				<h5>Sponsored by:</h5><br />
				<img src="/img/arng-no-ground.svg" width="60%"/>
			</div>
		</div>
	</div> <!-- /container -->
