<div class="container">
	<ul class="breadcrumb">
		 <li><a href="arng">Career Direction 2</a> <span class="divider"> </span> </li>
		 <li><a href="leads">Generate Leads</a> <span class="divider"> </span> </li>
		 <li><a href="register">Register Your School</a> <span class="divider"> </span> </li>
		 <li><a href="feedback">Recruiter Feedback</a> <span class="divider"> </span> </li>
		 <li><a href="practices">Best Practices</a> <span class="divider"> </span> </li>
		 <li class="active"><a href="downloads">Downloads</a> <span class="divider"> </span> </li>
		 <li><a href="faq">FAQ</a> <span class="divider"> </span> </li>
	 </ul>
</div>

<div class="container-white">
	<div class="container">	
		<h1 class="page-header">Download Materials</h1>
		<div class="row">  
			<div class="span8 under-link">
				
				
				<p align="left"><a href="downloads/Learn_about_our_New_CD_RRNCO_Report_Features!.pps" class="under-link">Learn about our New CD RRNCO Report Features!</a></p>
				<p align="left"><a href="downloads/Replacement_slides_showing_New_Web_site_Instructions.ppt" class="under-link">Replacement slides showing New Web site Instructions.</a></p>
				<p align="left"><a href="downloads/CD_Educator_Pres_SY_0708_2.0.zip" class="under-link">Career Direction Educator Presentation.</a></p>
				<p align="left"><a href="downloads/CTC_Cluster_CarDir.pdf" class="under-link">CD2 Career Categories and US DOE Career Clusters Comparison Chart.</a></p>
				<p align="left"><a href="downloads/CD Presentation SY 2007-2008 2.0.zip" class="under-link">PowerPoint Presentation for the Career Direction 32nd Edition, Version SY 2007/2008 2.0</a></p>
				<p align="left"><a href="downloads/CD_Educator_Pres_SY_0708_2.0_Jr._Sr._version.ppt" class="under-link">Educator Marketing Jr. and Sr. Class Presentations</a></p>
				<p align="left"><a href="arngDownload_Redirect.cfm?The_Document=RRNCOLettertoEducator.doc&amp;F_Title=Marketing letter to your educators!" class="under-link">Marketing letter to your educators!</a></p>
				<p align="left"><a href="arngDownload_Redirect.cfm?The_Document=CD2_FeedbackSheet.pdf&amp;F_Title=Feedback sheet for 11th and 12th grade students" class="under-link">Feedback sheet for 11th and 12th grade students</a></p>

			</div>
		
			<div class="span4">
				<p><img src="../img/ng-slide.png" class="pic-border" /></p>
			</div>
		</div>
	</div> <!-- /container -->
</div> <!-- /container-white -->
