	<div class="container">	
		<h1 class="page-header">Download Materials</h1>
		<div class="row">  
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-6">
						<h6>PowerPoint for <span style="font-weight: 600;"><span class="logo-e">e</span>CD</span></h6>
						<p style="margin-bottom:1em;">RRNCOs presenting <strong><span class="logo-e">e</span>CD</strong> must download this PowerPoint file that corresponds with the <strong>44th edition, 1st printing of <span class="logo-e">e</span>CareerDirection.</strong></p>
						<a href="https://ecareerdirection.s3.us-east-2.amazonaws.com/eCD+PowerPoint+-+44th+edition.pptx" class="btn btn-primary" style="margin-bottom: 1em;">Download</a>
					</div>
					<div class="col-md-6">
						<h6> </h6>
						<p style="margin-bottom:1em;"> </p>
						 
						
					</div>
				</div>
				<hr style="margin: 20px 0; border-top-color: #1abc9c;" />
			</div>
			
			<div class="col-md-2" style="text-align: center;">
				<p><strong>Sponsored by:</strong></p>
				<p><img src="/img/arng-no-ground.svg" width="90px"/></p>
			</div>
		</div>
	</div> <!-- /container -->
