

	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
		  		<h1 class="page-header">Frequently Asked Questions<br />ARNG Reps</h1>
			</div>
			<div class="col-md-8 under-link">
								
				<p class="question">When can students access their online reports?</p>
					
				<p class="answer">Immediately after they complete and score the <strong><span class="logo-e">e</span>CD</strong> exercise or as soon as they select two career fields from the <strong><span class="logo-e">e</span>CD</strong> Career Categories and US DOE Career Clusters Comparison Chart. Note: the 
				school has to be registered and the school's unique School ID needs to be distributed to the students. 
				The <strong><span class="logo-e">e</span>CareerDirection</strong> Poster is a great tool to help remind students of their School ID after you leave.</p>
				
				<p class="question">Do School IDs expire?</p>
					
				<p class="answer">No, once a school is registered, it will not expire. Therefore it is not 
				necessary to register a school more than once. If you would like to update educator contact information 
				associated with the school's registration, please email the updated info to: <a href="mailto:info@careertrain.com?subject=CD2 Educator Contact Information Update">
				CareerTrain</a>.</p>
				
				<p class="question">Where do I mail Career Direction scanforms?</p>
					
				<p class="answer">Mail student scanforms to:
				<address style="margin-left: 32px;"><strong>Career Training Concepts Inc.</strong><br />
				2060 East Exchange Place, Suite 120<br />
				Tucker, GA 30084</address>
				Be sure to include the orange cover sheet with each batch of student scanforms.</p>
				
				<p class="question">How quickly will the scanform reports be emailed to me and 
				the school?</p>
					
				<p class="answer">CTC is committed to processing the scanforms and emailing reports 
				back to you and the school as soon as possible. Our turn-around <b>goal is within three business 
				days</b> of receiving the scanforms.</p>
				
				<p class="question">What are the reports associated with the <strong><span class="logo-e">e</span>CareerDirection</strong> optional exercise?</p>
					
				<p class="answer">There are three result reports for the <strong><span class="logo-e">e</span>CD</strong> <em>exercise:</em></p>
				
					<ol style="margin-left: 32px;">
						<li style="line-height: 1.5em;">
							<b>Student Report</b> - Careers and Occupations Guide: As soon as students complete and 
							self-score their <strong><span class="logo-e">e</span>CareerDirection</strong> exercise they can visit the Careers 
							and Occupations Guide (COG) on our Web site, using their school's School ID, to 
							generate a comprehensive 8 to 24-page personalized report. <br />
							<i><b>Note:</b> COG Student data are not saved on our Web site and are not accessible to you 
							or to the educator.</i>
						</li>	
						<li style="line-height: 1.5em;">
							<b>Educator Report</b> - Scanform-Generated Student Planning: After mailing in the <strong><span class="logo-e">e</span>CD</strong> exercise 
							Scantrons, both you and the school POC will receive valuable Student Planning 
							Reports for each student by email. Take this report with you to your appointment with a 
							student and his/her parents. The information will help you advise the student on the academic 
							and career choices they are facing. By using the Student Planning Report, you demonstrate your 
							concern for the student's educational and career goals. Also, educators find the Student 
							Planning Reports to be very valuable when counseling students.
						</li>
						<li style="line-height: 1.5em;">
							<b>RRNCO Report</b> - Scanform-Generated: In addition to the Student Planning Report, you 
							will also receive the RRNCO Report by email. This scanform-generated report ranks 
							students according to their likelihood to enlist. It also includes valuable tips to help 
							you strategize your follow-up conversations with students based on their career interests 
							and post high school plans. So, if you are not sending in <strong><span class="logo-e">e</span>CD</strong> Scanforms and using the 
							reports emailed to you, you are making your job harder than it has to be. With <strong><span class="logo-e">e</span>CD</strong>, leads are identified and strategies are spelled out to help you be more effective 
							and more efficient to make your mission!
						</li>
					</ol>
					<br />
				
				<h1 class="page-header">Frequently Asked Questions<br />Educators</h1>
				
				<p class="lead">Here are some questions and answers for you to know as you talk to educators about <strong><span class="logo-e">e</span>CD</strong>.</p>
				
				<p class="question">Is the student's information privacy protected?</p>
					
				<!-- <p class="answer">Yes, all student information is protected by the Privacy Act, public law 93-579 Sec.
				7 (B). The student's information is only made available to the Guard (the program's sponsor), CTC (the program's
				publisher), and the school. The telephone number, address, and ethnicity sections of the scanform are optional.
				Ethnicity information is only used as part of ongoing studies.</p> -->
				
				<p class="answer">Yes, all student information is protected. The student's information is only made available to the Guard (the program's provider), CTC (the program's publisher), and the school. The telephone number and address sections of the scanform are optional.</p>
				
				<p class="question">How valid (accurate) is the <strong><span class="logo-e">e</span>CD</strong> exercise compared 
				to other similar career assessment instruments?</p>
					
				<p class="answer">The <strong><span class="logo-e">e</span>CD</strong> exercise has been validated against the Strong, the COPs, the Kuder, and the SDS 
				(Self-Directed Search). In every study, the CDII has given similar results between <b>94 and 98 percent</b> of 
				the time. Note: the names and organization of career interest categories are different from instrument to 
				instrument, so they are aligned for similarities in validity studies.</p>
				
				<p class="question">What is the theoretical basis that the <strong><span class="logo-e">e</span>CD</strong> exercise was based on?</p>
					
				<p class="answer">There are 3 construction methods for designing an interest inventory:</p>
				
					<ol style="margin-left: 32px;">
						<li style="line-height: 1.5em;">
							Logical - Based on a belief or theory of the test designer. It says, "I believe people who answer these 
							questions these ways will also enjoy these types of jobs."
						</li>
						<li style="line-height: 1.5em;">	
							Factor analysis - The designer gives the interest inventory to people in careers, and then analyzes 
							their answers to see if in fact those who answer a certain way have interests in certain careers. It 
							says, "I believe if you are Z, you will answer all of these questions yes. I'll ask several Z's to 
							make sure."
						</li>
						<li style="line-height: 1.5em;">	
							Empirical analysis - Adults who have career satisfaction for a period of time are grouped and the answers 
							to interest inventory questions they give are analyzed and grouped according to their answers. (As opposed 
							to factor analysis where the groups of questions are predetermined, with empirical analysis the groups of 
							questions are determined by the answers of the people.) It says, "I have people in occupations A through 
							Z and I have these questions for them to answer. I'll see what questions line up with what occupations."
							<br /><br />
							Almost all interest inventories are developed by the logical analysis construction method. The <strong><span class="logo-e">e</span>CD</strong> exercise was 
							developed by a combination of methods. In choosing and defining the 9 categories (scales) in the <strong><span class="logo-e">e</span>CD</strong> exercise, 
							CTC started by reviewing interest theory, that is called "theory- based" category design. The next 
							step was to further define the categories according to "logical construction" (many instruments start 
							that way.) Some of the <strong><span class="logo-e">e</span>CD</strong> categories are factor-analyzed, and therefore are more sophisticated as far 
							as statistical design. <strong><span class="logo-e">e</span>CD</strong> validity is of the concurrent type, in that it is scaled against several 
							interest inventories. The accuracy is based on the fact that the <strong><span class="logo-e">e</span>CD</strong> scales are measuring what other 
							interest inventories claim to measure as they pertain to interests.
						</li>
					</ol>
				
				<p class="question">Has the interest inventory been tested to show the percentage of students 
				who actually pursued a career in their top choices?</p>
					
				<p class="answer">Because of privacy, expense, and logistical issues, we are not aware of any interest 
				inventories on the market that have conducted long-term tracking studies comparing results with where people 
				are working 10 or 20 years later.</p>	
				
			</div>

			<div class="col-md-3 offset-md-1">
				<hr style="border: none; border-top: 4px solid #1abd9c; padding-bottom: 18px;"/>
				<h3 style="line-height: 1.5em;"><em>The <strong><span class="logo-e">e</span>CD</strong> exercise has been validated against the Strong, the COPs, the Kuder, and the SDS (Self-Directed Search).</em></h3>
				<hr style="border: none; border-top: 4px solid #1abd9c; margin-top: 32px;"/>
			</div>
							  
		</div>
		
	</div> <!-- /container -->
