

	<div class="container">	

		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Recruiter Feedback</h1>
			</div>
			<div class="col-md-8">
			
				<blockquote><i class="icon-quote-left"></i> I look forward to next school year and getting to present Career Direction classes.<br />
				<small>SSG Book, IL ARNG</small>
				</blockquote>

				<blockquote><i class="icon-quote-left"></i> I think the program is a great tool to use. My college has asked me to teach several freshmen orientation classes.<br />
				<small>SSG Kane, AL ARNG</small>
				</blockquote>

				<blockquote><i class="icon-quote-left"></i> Here is an example of how effective the Career Direction program truly works: Ms. S had an idea of what her career interests were but the program further confirmed her interests in the military and clerical. Upon receiving her results, she enlisted in the Illinois Army National Guard a week later as a supply clerk.<br />
				<small>SFC Davis, IL ARNG</small>
				</blockquote>

				<blockquote><i class="icon-quote-left"></i> My high school has a policy of only lunchroom displays and absolutely NO classroom time. But, one of the teachers invited me to present Career Direction. By the end of class 3 of 6, the kids were talking in the other classrooms; teachers were stopping outside the door to listen. Tomorrow, I finish....and meet with other teachers.<br />
				<small>SFC Meador, TN ARNG</small>
				</blockquote>

				<blockquote><i class="icon-quote-left"></i> Career Direction - An excellent tool for today's future.<br />
				<small>SSG Williams, PA ARNG</small>
				</blockquote>
				
			</div>

			<div class="col-md-3 offset-md-1">
				<hr style="border: none; border-top: 4px solid #1abd9c; padding-bottom: 18px;"/>
				<p class="lead"><i class="icon-quote-left"></i> Career Direction - An excellent tool for today's future.</p>
				<hr style="border: none; border-top: 4px solid #1abd9c; margin-top: 24px;"/>
			</div>
				  
		</div>
	</div> <!-- /container -->
