	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Use <strong><span class="logo-e">e</span>CareerDirection</strong> to Generate <br />Refined Non-Prior Service Leads</h1>
			</div>
			<div class="col-md-8">
		<p class="lead">
			<strong><span class="logo-e">e</span>CareerDirection</strong> is an exclusive NPS entry tool available <em>only</em> 
			to Army National Guard RRNCOs. It is a valuable career guidance workshop that truly meets the needs of 
			students, parents, and educators.
		</p>
		<p>
			The program includes an <strong><span class="logo-e">e</span>CareerDirection</strong> exercise for identifying students' career interests. Students 
			also indicate their post high school education plans. The program is easy for you to use, 
			as each carton contains:
		</p>
		<ul class="padleft">
			<li>
				Student <strong>workbooks,</strong>
			</li>
			<li>
				Educator <strong>brochures,</strong>
			</li>
			<li>
				Presentation Download Instructions, and
			</li>
			<li>
				<strong>RRNCO Information Sheet</strong> with instructions for maximizing your effectiveness in schools.
			</li>
		</ul>

		<p>
			As the guest classroom instructor for <strong><span class="logo-e">e</span>CareerDirection</strong>, you are positioned 
			as a trusted adviser with whom students feel comfortable talking about their futures. The 
			program creates a "trust opportunity" for you to present the benefits of joining the 
			Guard.
		</p>
		<p>
			Clearly, not every student is a good candidate for the National Guard, but with <strong><span class="logo-e">e</span>CareerDirection</strong>, you can refine your leads through personal interaction with quality candidates.
			
					<p>
			This means your follow-up conversations with students and 
			their parents will be more relevant and productive, resulting in more enlistments.
		</p>
		<p>
			Data over the past 20 years show that about 25% of the student population we've tested had a high 
			interest in Protective/Military occupations. Additionally, some 14% of the student population indicated 
			an interest in joining the military. Like other ARNG RRNCOs around the country, you can use <strong><span class="logo-e">e</span>CareerDirection</strong> 
			to meet and exceed your mission.
		</p>
		<p>Once you schedule an eCareer Direction presentation at a school, you will need to register the school to create a School ID. Students will need their School ID in order to create individual student accounts.
		</p> 
		<p>
			<a href="/arng/register" class="btn btn-primary">School Registration</a>
		</p>

				</div>

				<div class="col-md-4" style="text-align: right;">
					<p><img src="/img/eCDcover.jpg" class="pic-border" width="100%" /></p>
					<!-- <p style="margin-top: -80px;"><img src="../img/CD2-CD-Label-v43.pdf"  width="240px" /></p> -->
				</div>
				  
		  	   </div>
				
				
		     </div> <!-- /container -->
