<div class="container">
		  
	<ul class="breadcrumb">
		 <li><a href="arng">Career Direction 2</a> <span class="divider"> </span> </li>
		 <% if session[:cdguard] == true %>
		 <li class="active"><a href="leads">Generate Leads</a> <span class="divider"> </span> </li>
		 <li><a href="register">Register Your School</a> <span class="divider"> </span> </li>
		 <li><a href="feedback">Recruiter Feedback</a> <span class="divider"> </span> </li>
		 <li><a href="practices">Best Practices</a> <span class="divider"> </span> </li>
		 <li><a href="downloads">Downloads</a> <span class="divider"> </span> </li>
		 <li><a href="faq">FAQ</a> <span class="divider"> </span> </li>
		 <% end %>
	 </ul>
		 
</div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Use Career Direction 2 to Generate <br />Refined Non-Prior Service Leads</h1>
			</div>
			<div class="span8">

		<p class="lead">
			<strong>Career Direction 2</strong> is an exclusive NPS entry tool available <em>only</em> 
			to Army National Guard RRNCOs. It is a valuable career guidance workshop that truly meets the needs of 
			students, parents, and educators.
		</p>
		<p>
			The program includes an oprional <strong>Career Direction 2</strong> exercise for identifying students' career interests. Students 
			also indicate their post high school education plans. The program is easy for you to use, 
			as each carton contains:
		</p>
		<ul class="padleft">
			<li>
				Student <strong>workbooks,</strong>
			</li>
			<li>
				Educator <strong>brochures,</strong>
			</li>
			<li>
				A slide show <strong>CD-ROM,</strong> and
			</li>
			<li>
				An <strong>RRNCO Resource Guide</strong> with instructions for maximizing your effectiveness in schools.
			</li>
		</ul>

		<p>
			As the guest classroom instructor for <strong>Career Direction 2,</strong> you are positioned 
			as a trusted adviser with whom students feel comfortable talking about their futures. The 
			program creates a "trust opportunity" for you to present the benefits of joining the 
			Guard to those who are good prospects.
		</p>
		<p>
			Clearly, not every student is a good candidate for the National Guard, but with <strong>Career 
			Direction 2,</strong> you can refine your leads through personal interaction with quality candidates.
			
					<p>
			This means your follow-up conversations with students and 
			their parents will be more relevant and productive, resulting in more enlistments.
		</p>
		<p>
			Data over the past 20 years shows that about 25% of the student population we've tested had a high 
			interest in Protective/Military occupations. Additionally, some 14% of the student population indicated 
			an interest in joining the military. Like other ARNG RRNCOs around the country, you can use <strong>Career Direction 2</strong> 
			to meet and exceed your mission.</p>

				</div>

				<div class="span4">
					<p><img src="../img/cd2-cover.jpg" class="pic-border" /></p>
				</div>
				  
		  	   </div>
		     </div> <!-- /container -->
		  </div> <!-- /container-white -->
