	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Best Practices</h1>
				
			</div>
			<div class="col-md-8 under-link">
				
				<p ><strong>Networking opportunity:</strong> Did you know that civic organizations such as the Rotary 
				Club can be valuable for networking? Why not offer to present an overview of <strong><span class="logo-e">e</span>CareerDirection</strong> at one 
				of their meetings? Members have influence in the community; oftentimes they are even school board members! 
				Check the Download page for a PPT presentation you can use to promote <strong><span class="logo-e">e</span>CD</strong> to educators. <a href="https://my.rotary.org/en/search/club-finder">Locate a Rotary Club near you.</a></p>  

				<p><strong>Conferences:</strong> If your state is paying for exhibit space at a state educator conference, 
				these are the supplies you'll want to have there:</p>
					<ul>
						<li>
							<strong><span class="logo-e">e</span>CareerDirection</strong> Brochures
						</li>
						<li>	
							<strong><span class="logo-e">e</span>CareerDirection</strong> workbooks
						</li>
						<li>	
							Business cards
						</li>
						<li>	
							Give-aways for drawings
						</li>
						<li>	
							Pens and other Guard swag
						</li>
						<li>	
							Contact forms for drawings
						</li>
					</ul>
				<p><strong>School testing days:</strong> Offer your schools Career Direction 2 for the students who are not involved 
				in the testing so that they can stay constructively occupied.</p>
				
				<p><strong>Meeting with prospects and their parents:</strong> Taking the individual Educator's Student Planning 
				Report (emailed to you) with you to an appointment with an applicant and his or her parents can really help to 
				build your rapport because it shows that you actually care about the educational and career goals of the individual... 
				it will prove that he is not just a number to you! </p>
				
				<p><strong>Programs on college campuses:</strong> College Resident Advisors (RAs) are often required to administer monthly programs to 
				the students in their dorms, but if they can find someone to do the presentation for them, most will gladly accept 
				your offer!  The Career Direction 2 exercise is a good fit, because it can be administered, and results explained, in
				30-45 minutes. Students will better understand their career interests, which can help them with class and major selection, and 
				will also learn about how the Guard can help them achieve their career goals.</p>
				
				<p><strong>Email signature:</strong> If you are e-mailing an educator for any reason, please include the link 
				to www.careertrain.com. The educator may click on the link and learn some valuable information 
				that could lead to a presentation for you!</p> 
								
				<p><strong>Prom Season:</strong> Prom Season isn't just for looking pretty...it's for staying alive! Offer drug and 
				alcohol education before Prom season starts.</p>
				
				<p>In many communities, getting drunk or high at the Prom is a rite of passage. Cars are wrecked and lives 
				are mangled.</p>
				
				<p>The Career Direction 2 program has a section on Making Choices - Personal Responsibility. If just one student listens 
				and chooses to stay sober, you've done something great!</p>
				
				<p><strong>Use your teachers as your sales representatives:</strong> In SC, a class was scheduled with only 16 students. 
				Several days before the class, the RRNCO called the teacher and asked if any other teachers may want to 
				include their students. As a result, the class grew to over 100!</p>
				
				<p><strong>Unemployment offices aren't just for the unemployed:</strong> In NY, an RRNCO is doing Career Direction 2 presentations 
				in unemployment offices.</p>
				
				
				<p><strong>Faculty meetings + food = invitations to instruct:</strong> Host a cookout in the school parking lot during pre-or 
				post planning or teacher work days. The Principal will love that his staff isn't leaving campus for lunch! You 
				can have a video loop on Career Direction 2 playing while they wait in line for their food. The loop is included on 
				the Career Direction 2 cd-rom.</p>
				
				In NC, an RRNCO had a great relationship with the JROTC, but no interest from other teachers. He arranged with the 
				principal to brief the faculty and staff of the entire school at their monthly staff meeting. He had food 
				catered as well.  About 130 teachers, faculty, and other staff members attended. Now, he is presenting in several 
				classrooms as well!</p>
				
				<!-- <p><b>Spanish Version of the Interest Inventory:</b> &iexcl;Career Direction 2 exercise est&aacute; disponible
				ahora en Espa&ntilde;ol!  In case you don't read Spanish -
				this says something like: Hey Y'all, guess what! We have the Career Direction 2 exercise
				available in Spanish so your bilingual students can quickly take it in their own language! You may request Spanish CD2 exercise from
				CTC. Just make sure you have a workbook for each exercise form you request. Workbooks are available in English only.</p> -->
				
				<p><strong>Here are some ideas for summer activities:</strong></p>
				
				<ol>
					<li>
						Present Career Direction 2 at:
					</li>
						<ul>
							<li>
								summer schools
							</li>
							<li>
								summer camps
							</li>
							<li>
								Unemployment offices
							</li>
							<li>
								GED classes
							</li>
							<li>
								alternative learning centers
							</li>
							<li>
								YMCAs
							</li>
							<li>
								colleges and tech schools
							</li>
							<li>
								Some schools have 12-month schedules. This Web site is a good resource for identifying 
								them: <a href="http://nayre.org/schools.html" target="blank">nayre.org</a>
							</li>
						</ul>
					<li>
						Invite educators to "A Day in the Guard" at one of your training facilities where you 
						can tell them about school programs and the training and benefits available to students through the Guard.
					</li>
					<li>
						Provide a summer camp for JROTC detachments.
					</li>
					<li>
						School Administrators work during the summer. In fact, this is when they plan the school calendar. 
						Make an appointment to meet them and learn about their needs and figure out how you can help.
					</li>
					
					<li>
						Bring your calendar to the school and ask what dates the teachers need help with their 
						classes and offer to present Career Direction 2 or another Guard SEV.
					</li>
				</ol>
				
				<p><b>Follow-up is key to booking future presentations:</b> Get a bunch of giveaways and go by your schools to say thanks 
				for supporting the Guard this year. While you are there take the list of presentations conducted this school year 
				and schedule for next school year.</p>
				
				
				<p>You can start out by saying something like, "Last fall, you had us present Career Direction 2 to your ____________ 
				class during the third week of October. Did that time-frame work well for you? I want to lock it in on my calendar so I can make sure I am available for your class again."</p>
				
				<p><b>Saying thank you isn't just good manners:</b> The busier you get, the more important this little detail becomes. 
				Follow up every meeting with an email thank you message IMMEDIATELY. Why? The follow-up message:</p>
					<ul>
						<li>
							Summarizes your conversation
						</li>
						<li>
							Re-emphasizes agreement that has already been made
						</li>
						<li>
							States what next steps are needed and who is doing what
						</li>
						<li>
							Opens the door for further communication
						</li>
						<li>
							Introduces new information
						</li>
					</ul>
				
				<p>An easy way to accomplish this is to create standard follow-up emails depending on different scenarios. As you finish 
				a phone call with an educator, email them right then. At the end of each day, email EVERY EDUCATOR YOU VISITED THAT DAY. 
				It isn't just good manners, it is good business.</p><br />
				
			</div>

			<div class="col-md-3 offset-md-1">
				<hr style="border: none; border-top: 4px solid #1abd9c; padding-bottom: 18px;"/>
				<p class="lead">Send us your best practices! We'll share them with other RRNCOs here! &nbsp; 
				<a href="mailto:info@careertrain.com?subject=CD2 Suggested Best Practice"><i class="icon-envelope-alt"></i></a></p>
				<hr style="border: none; border-top: 4px solid #1abd9c; margin-top: 24px;"/>
			</div>

		</div>
	</div> <!-- /container -->
