<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Online Resume Tool</h1>
			</div>
			<div class="span8">
		
				<table class="table table-striped table-hover">
					<tr>
						<th>Personal Information</th>
						<td><span class="label label-success">Completed</span></td>
						<td>Edit</td>
					</tr>
					<tr>
						<th>Cover Letters</th>
						<td><span class="label">Not Completed</span></td>
						<td>Edit</td>
					</tr>
					<tr>
						<th>Carer Objectives</th>
						<td><span class="label">Not Completed</span></td>
						<td>Edit</td>
					</tr>
					<tr>
						<th>Education</th>
						<td><span class="label label-success">Completed</span></td>
						<td>Edit</td>
					</tr>
					<tr>
						<th>Work Experience</th>
						<td><span class="label">Not Completed</span></td>
						<td>Edit</td>
					</tr>
					<tr>
						<th>Activities</th>
						<td><span class="label">Not Completed</span></td>
						<td>Edit</td>
					</tr>
					<tr>
						<th>Awards</th>
						<td><span class="label">Not Completed</span></td>
						<td>Edit</td>
					</tr>
					<tr>
						<th>References</th>
						<td><span class="label">Not Completed</span></td>
						<td>Edit</td>
					</tr>
					<tr>
						<th>Character Traits</th>
						<td><span class="label">Not Completed</span></td>
						<td>Edit</td>
					</tr>
					<tr>
						<th>Interests and Hobbies</th>
						<td><span class="label">Not Completed</span></td>
						<td>Edit</td>
					</tr>
					<tr>
						<th>Personal Information</th>
						<td><span class="label">Not Completed</span></td>
						<td>Edit</td>
					</tr>
				</table>
				<p><a href="#" class="btn btn-small">View Cover Letters</a> &nbsp; <a href="#" class="btn btn-small">View Resume</a> &nbsp; <a href="#" class="btn btn-small">View References</a></p>
				<p>Copy and paste the contents of your cover letter, resume, thank you letter, and references sheet to a Microsoft Word or similar document so you can edit and save it. You will need to double check for grammar and spelling.</p>
			</div>
			<div class="span3 offset1">
				<br /><br /><br /><br />
				<h6>Profile</h6>
				<p><%= @resume.email %></p>
	         <input type="text" class="input-block-level" placeholder="melvin@suggins.com">
	         <input type="password" class="input-block-level" placeholder="melvin123">
				<a href="#" class="btn btn-small">Update Account</a>
				<br /><br /><br />
				<a href="../student/resume" class="btn btn-success"><i class="icon-signout"></i> &nbsp;Sign out</a></p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

