<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span5 offset3">
				<div class="well">
		      <form class="form-signin">
		        <h2 class="form-signin-heading">Sign in</h2>
		        <input type="text" class="input-block-level" placeholder="Email address">
		        <input type="password" class="input-block-level" placeholder="Personal password">
				  <br /><br />
		        <button class="btn btn-primary" type="submit">Sign in</button>
		      </form>
				</div>
				<a href="../resume/resume_admin">Sign in will go here when finished</a>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

