<style>
	abbr {
		color: #7b1a18;
		text-decoration: underline;
	}
</style>	
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a href="/student/resume/index" class="btn btn-small pull-right" style="margin-top: 12px;">Resume Tool</a>
				<h1 class="page-header">Character Traits</h1>
			</div>
			<div class="col-md-8 offset-md-2">
				
				<p>List 3 character traits you possess that an employer would value. The words that describe each trait should be adjectives.</p>

				<p>Capitalize words and punctuate as though your answers occur within the middle of a sentence. Be sure to proofread your documents.</p>

				<p><strong>Example:</strong> Because I am known to be <abbr title="Trait 1">kind</abbr>, <abbr title="Trait 2">enthusiastic</abbr>, and <abbr title="Trait 3">hard-working</abbr>, I believe I would be an asset to your company.</p>
		
				<form method="post">
					
					<p>
						<label for="trait_1">Trait 1&nbsp;&nbsp;</label>
						<input type="text" name="trait_1" id="trait_1" class="textfield col-md-8" value="<%= @trait.trait_1 %>" />
					</p>
					<p>
						<label for="trait_2">Trait 2&nbsp;&nbsp;</label>
						<input type="text" name="trait_2" id="trait_2" class="textfield col-md-8" value="<%= @trait.trait_2 %>" />
					</p>
					<p>
						<label for="trait_3">Trait 3&nbsp;&nbsp;</label>
						<input type="text" name="trait_3" id="trait_3" class="textfield col-md-8" value="<%= @trait.trait_3 %>" />
					</p>
					
					<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume/traits">Cancel</a>
					
					</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
