	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a href="/student/resume/index" class="btn btn-small pull-right" style="margin-top: 12px;">Resume Tool</a>
				<h1 class="page-header">Character Traits</h1>
				
				<p><%= @trait.trait_1 %></p>
				<p><%= @trait.trait_2 %></p>
				<p><%= @trait.trait_3 %></p>

				<br />
					
				<p><a class="btn btn-success btn-small" href="/student/resume/traits/<%= @trait.id %>/edit">Edit</a> &nbsp; <a class="btn btn-small" href="/student/resume/traits/traits">Index</a> &nbsp; <a class="btn btn-small" href="/student/resume/index">Resume Tool</a></p>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->
