	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Career Training Concepts</h1>
			</div>
			<div class="col-md-7">
				<p class="lead">Our corporate purpose is to provide training, publications, and personnel services that meet customer objectives while helping individuals achieve balanced success, professionally and personally.</p>
				<p><strong>Career Training Concepts Inc.</strong> publishes personal development instruments, books, videos, and software. Our programs are designed and tested to ensure individuals are provided accurate guidance so they can more easily find their proper path in life. We are especially proud to have helped over five million young people make appropriate career and life choices.</p>
				<div class="row">
					<div class="col-md-5">
						<br />
						<address>
						<strong>Career Training Concepts Inc.</strong><br />
						2060 East Exchange Place, Suite 120<br />
						Tucker, GA 30084<address>
							<br />	
						<a href="mailto:info@careertrain.com" class="btn btn-primary"><i class="icon-envelope-alt"> </i> &nbsp;Ask Questions</a>
					</div>
					<div class="col-md-5">
						<br />
						<address><strong>770-326-9229</strong> &nbsp; <small>PHONE</small><br />
						<strong>888-326-9229</strong> &nbsp; <small>TOLL FREE</small><br />
						<strong>770-729-8099</strong> &nbsp; <small>FAX</small>
						</address>
					</div>
				</div>
				
			</div>
			
			<div class="col-md-5 text-center">
				<div class="sign-in" style="margin-top: 1.75em;">
					<br />
					<p style="text-align: center;"><img src="../img/ctc-logo.png" width="84px" /></p>
					<p style="text-align: center;"><strong>Career Training Concepts Inc.</strong> Logo represents a whole person, one whose career and personal life are in balance.</p>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-12">
				<br />
				<h1 class="page-header" style="font-size: 1.8em;">Partners</h1>
			</div>
		</div>
		<div class="row" style="text-align: center; margin-bottom: 3em; margin-top: 1em;">
			<div class="col-md-3">
				<a href="https://mcc.gse.harvard.edu" target="_blank"><p style="margin-top: 6px;"><img src="/img/mccp-logo.svg"  width="220px"/></p></a>
			</div>
			<div class="col-md-3">	
				<a href="https://cehs.unl.edu/edpsych/" target="_blank"><p style="margin-top: 6px;"><img src="/img/unl-logo.png"  width="180px"/></p></a>
			</div>
			<div class="col-md-3">	
				<a href="https://www.c2ti.com/" target="_blank"><p style="margin-top: 6px;"><img src="/img/c2t-logo.svg"  width="200px"/></p></a>
			</div>
			<div class="col-md-3">	
				<p style="margin-top: 6px;"><a href="https://research.kennesaw.edu/edce/burruss/" target="_blank"><img src="/img/burruss-logo.jpg" width="230px;" style="border: 1px solid gray;" /></a></p>
			</div>
		</div>
		<div class="row" style="text-align: center;">	
			<div class="col-md-4">	
				<p style=""><a href="http://www.discovernac.org" target="_blank"><img src="/img/nac-logo.png" width="200px" /></a></p>
			</div>
			<div class="col-md-4">	
				<p style="margin-top: 6px;"><img src="/img/congo-logo.png" width="170px" /></p>
			</div>
			<div class="col-md-4">	
				<p style=""><img src="/img/ed-congo-logo.svg" width="150px" /></p>
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->

