<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Questions &amp; Comments</h1>
			</div>
			<div class="span12">
					<p class="lead">We'd love to hear what you have to say</p>
			</div>

			<form class="form-horizontal" method="post">
	
				<div class="control-group" id="name-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="name" name="name" />
					</div>
				</div>
		
				<div class="control-group" id="email-group">
					<label class="control-label" for="email">Email address</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="email" name="email" />
					</div>
				</div>

				<div class="control-group" id="subject-group">
					<label class="control-label" for="subject">Subject</label>
					<div class="controls">
						<select id="subject" name="subject">
							<option value="Careertrain.com feedback: I have a question">I have a question</option>
							<option value="Careertrain.com feedback: I have a comment">I have a comment</option>
						</select>
					</div>
				</div>

				<div class="control-group" id="msg-group">
					<label class="control-label" for="msg">Message</label>
					<div class="controls">
						<textarea name="msg" id="msg" class="input-xlarge span6" rows="11"></textarea>
					</div>
				</div>
				
				<div class="control-group">
					<div class="controls">
						<div class="g-recaptcha" data-sitekey="6Les9X4UAAAAAJJXKpfwTPeEEYLMSLIdKi0i86_B" data-callback="enableBtn"></div>
						<br />
						<input type="submit" id="submit" class="btn btn-primary" value="Submit" />
					</div>
				</div>
	
			</form>
				

					
				</div>
			</div>
		</div>
			
		</div> <!-- /row -->


				
	</div> <!-- /container -->
</div> <!-- /container-white -->

	<script>
	
		document.getElementById("submit").disabled = true;
		function enableBtn(){
		    document.getElementById("submit").disabled = false;
		   }
 
	</script>