<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span4 offset3">
				<h1>Interest</h1>
		
				<form method="post">
					
					<p>
						<label for="interest">Interest</label>
						<input type="text" name="interest" id="interest" class="textfield span4" value="<%= @interest.interest %>" />
					</p>
					
					<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/interests">Cancel</a> &nbsp; <a class="btn btn-small btn-warning pull-right" href="/interests/<%= @interest.id %>/delete">Delete</a>
					
					</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

