<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span4 offset3">
				<h1>RRC</h1>
		
				<form method="post">
					
					<p>
						<label for="email">Email</label>
						<input type="text" name="email" id="email" class="textfield span4" value="<%= @rrc.email %>" />
					</p>
					<p>
						<label for="state">State</label>
						<input type="text" name="state" id="state" class="textfield span1" value="<%= @rrc.state %>" />
					</p>
					
					<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/rrcs">Cancel</a> &nbsp; <a class="delete btn btn-small btn-warning pull-right" href="/rrcs/<%= @rrc.id %>/delete">Delete</a>
					
					</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

