<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span9 offset3">
				<h1 class="page-header">User Profile</h1>
			</div>
			<div class="span9 offset3">
		
				<form method="post">
					
					<p>
						<label for="email">Email</label>
						<input type="text" name="email" id="email" class="textfield span4" value="<%= @user.email %>" />
					</p>
					<p>
						<label for="password">Password</label>
						<input type="text" name="password" id="password" class="textfield span4" value="<%= @user.password %>" />
					</p>
					
					<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/users/<%= @user.id %>">Cancel</a> &nbsp; <a class="btn btn-small btn-warning" href="/users/<%= @user.id %>/delete">Delete</a>
					
				</form>
				
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

