<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span8 offset2">
				<h1>Education</h1>
			</div>
			<div class="span8 offset2">
				<p><a href="/educations/new" class="btn btn-small btn-success pull-right">New</a>
				<a href="/admin/admin" class="btn btn-small">Admin</a></p>
				<table class="table table-striped table-condensed table-hover">
					<tr>
						<th>user ID</th>
						<th>Attending</th>
						<th style="text-align: center;">Edit</th>
					</tr>
					<% @educations.each do |education| %>
					<tr>
						<td><%= education.id_user %></td>
						<td><%= education.attending %></td>
						<td style="text-align: center;"><a href="educations/<%= education.id %>/edit"> &nbsp; <i class="icon-pencil"></i> &nbsp; </a></td>
					</tr>
					<% end %>
				</table>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

