	  
	  <!-- <div class="navbar navbar-inverse navbar-static-top" style="border-bottom: 3px solid silver;">
		  <div class="navbar-inner">
			  <div class="container">
				  <div class="span12" style="padding: 12px 0px; color: black;"><img src="img/careerdirection+.png" /></div>
			  </div>
		  </div>
	  </div> -->
	  <div class="container-white">
		  <div class="container" >	
			  <div class="row-fluid">
				  <div class="span12" style="margin-bottom: 22px;">
					  <h1 style="margin: 25px 0px 10px 0px;">A Comprehensive Guide To Planning Your Future</h1>
					  <p class="lead" style="margin-bottom: 6px;">Guidance for high school students and young adults.</p>
					  <!-- <p><strong>Career Direction 2</strong> is a no-cost guidance program that has helped over 5 million high school students plan their futures...</p> -->
				  </div>
			  </div>
			  <div class="row-fluid">
				  <div class="span6" style="color: black;">
					  <img src="../img/student-image.jpg" style="margin: 0 0 18px 0;" />
					  <h3 style="color: #3c6b11;">Student</h3>
					  <p style="font-weight: 300;">Your career, education and training, and lifestyle decisions are some of the most important decisions you will ever make!</p>
					  <a href="student/student" class="btn btn-small btn-success">Learn More!</a>
				  </div>
				  <div class="span6">
					  <img src="../img/educator-image.jpg" style="margin: 0 0 18px 0;" />
					  <h3 style="color: #0d6f96;">Educator</h3>
					  <p style="font-weight: 300;">Career Direction 2 is a no-cost guidance workshop that has helped over 6 million high school students plan their futures...</p>
					  <a href="educator/index" class="btn btn-small btn-success">Learn More!</a>
				  </div>
				  <div class="span6">
					  <img src="../img/arng-image.jpg" style="margin: 0 0 18px 0;" />
					  <h3 style="color: #d21725;">ARNG Rep</h3>
					  <p style="font-weight: 300;">The National Guard offers educational, training, employment, financial assistance, and personal growth opportunities for qualifying students.</p>
					  <a href="arng/arng" class="btn btn-small btn-success">Learn More!</a>
				  </div>
			  </div>
			  <div class="row-fluid">
					  <hr style="margin: 42px 0;" />
					  <div class="span5">
						  <div width="100%">

							  <iframe width="314" height="230" src="https://www.youtube.com/embed/1wAEyN4pWec" frameborder="0" class="pic-border" allow="autoplay; encrypted-media" style="border: 1px solid #000000;"></iframe>
						  </div>
					  </div>
					  <div class="span7">
						  <p style="font-weight: 300;">The <span style="font-weight: 600;">Career Direction 2</span> program meets virtually all mandated career guidance criteria.</p>
						  <p style="font-weight: 300;"><span style="font-weight: 600;">CD2 Reports</span> can help you start working toward your career success today!</p>
						  <p style="font-weight: 300;"><span style="font-weight: 600;">CD2 Online Resum&eacute; Tool</span> can help you create resum&eacute;s and cover letters that will help you &ldquo;get that job!&rdquo;</p>
						  <br />
						  <blockquote><i class="icon-quote-left"></i> This program has brightened my future. Because of this program, I now know where to rely for help. Thank you for your time and dedication.<br />
							  <small>Student, Hanson High School, SD</small>
						  </blockquote>
					  </div>
				  </div>
			  </div>
		  </div> <!-- /container -->
	  </div> <!-- /container-white -->
		
