<div class="container-white">
	<div class="container page-ease" id="ground">	
		<div class="row">
			<div class="span12" style="color: white; text-align: center; margin-top: 4em;" id="header">
				<h1>A Comprehensive Guide To Planning Your Future</h1>
				<p style="font-weight: 300; font-size: 1.8em; line-height: 1.4em;">Guidance for high school students and young adults.</p>
			</div>
				  
			<div class="span4 offset4" style="margin-top: 20em; text-align: center;">
				<p id="students" style="font-weight: 300; font-size: 1.3em; line-height: 1.4em; color: white;">The <span style="font-weight: 600;">Career Direction</span> program meets virtually all mandated career guidance criteria.</p>
				<br />
				<p id="reports" style="font-weight: 300; font-size: 1.3em; line-height: 1.4em; color: white;"><span style="font-weight: 600;">CD<em>e</em> Reports</span> can help you start working toward your career success today!</p>
				<br />
				<p id="resumes" style="font-weight: 300; font-size: 1.3em; line-height: 1.4em; color: white;"><span style="font-weight: 600;">CD<em>e</em> Online Resum&eacute; Tool</span> can help you create resum&eacute;s and cover letters that will help you &ldquo;get that job!&rdquo;</p>
				<br />
			</div>
		</div> 
	</div>
	<br /><br />
	<div class="container">
		<div class="row">
			<div class="span4" id="student" style="text-align: center;">
				<h1>Student</h1>
				<p style="font-weight: 300; font-size: 1.3em; line-height: 1.4em">Your career, education and training, and lifestyle decisions are some of the most important decisions you will ever make!</p>
					 
				<a href="student/student" class="btn btn-primary" style="margin-top: 16px;">LEARN MORE!</a>
					
					  <!-- <div class="svg-wrapper">
						  <a href="student/student">
						  <svg height="40" width="260" xmlns="http://www.w3.org/2000/svg">
							  <rect class="shape" height="40" width="260" style="z-index: 400;"/>
						  </svg>
						  </a>
					     <div class="text" style="z-index: -1;">LEARN MORE!</div>
					  </div> -->
				<br /> <br />
			</div>  
			<div class="span4" id="educator" style="text-align: center;">
				<h1>Educator</h1>
				<p style="font-weight: 300; font-size: 1.3em; line-height: 1.4em">Career Direction is a no-cost guidance workshop that has helped over 6 million high school students plan their futures.</p>
					  
				<a href="educator/index" class="btn btn-primary" style="margin-top: 16px;">LEARN MORE!</a>
					  
					  <!-- <div class="svg-wrapper">
						  <a href="educator/index">
						  <svg height="40" width="260" xmlns="http://www.w3.org/2000/svg">
							  <rect class="shape" height="40" width="260" style="z-index: 400;"/>
						  </svg>
						  </a>
					     <div class="text" style="z-index: -1;">LEARN MORE!</div>
					  </div> -->
				
				<br /> <br />
			</div> 
			<div class="span4" id="rep" style="text-align: center;">  
				
				<h1>ARNG Rep</h1>
				<p style="font-weight: 300; font-size: 1.3em; line-height: 1.4em">The National Guard offers educational, training, employment, financial assistance, and personal growth opportunities for qualifying students.</p>
					  
				<a href="arng/arng" class="btn btn-primary" style="margin-top: 16px;">LEARN MORE!</a>
					  
					  <!-- <div class="svg-wrapper">
						  <a href="arng/arng">
						  <svg height="40" width="260" xmlns="http://www.w3.org/2000/svg">
							  <rect class="shape" height="40" width="260" style="z-index: 400;"/>
						  </svg>
						  </a>
					     <div class="text" style="z-index: -1;">LEARN MORE!</div>
					  </div> -->
					  
			</div>
		</div> 
		<div class="row">	
			<div class="span8 offset2"> 
				<br /> <br />
				<blockquote style="font-size: 1.2em; line-height: 1.4em"><i class="icon-quote-left"></i> This program has brightened my future. Because of this program, I now know where to rely for help. Thank you for your time and dedication.<br />
					<small>Student, Hanson High School, SD</small>
				</blockquote>
				<br /> 
			</div>
		</div>
	</div>
</div> <!-- /container -->


<style>
	
	.page-ease	{
		animation: fadepic 1s 1 ease-in-out;
	}
	
	@keyframes fadepic {
	  0% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}
	
	#students {
	  animation: movein 2s 1 ease-in-out;
	}
	#reports {
	  animation: movein 2.25s 1 ease-in-out;
	}
	#resumes {
	  animation: movein 2.5s 1 ease-in-out;
	}

	@keyframes movein {
	  0% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}
	
	#student {
	  animation: fadein 1.25s 1 ease-in-out;
	}
	#educator {
	  animation: fadein 1.5s 1 ease-in-out;
	}
	#rep {
	  animation: fadein 1.75s 1 ease-in-out;
	}
	
	
	@keyframes fadein {
	  0% {
	    opacity: 0;
	  }
	  50%	{
		  opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}
	
	#header	{
		animation: movedown 0.75s 1 ease-in-out;
	}
	
	@keyframes movedown {
	  0% {
	    opacity: 0;
		 transform: translateY(-36px);
	  }
	  100% {
	    opacity: 1;
		 transform: translateY(0px);
	  }
	}
	

</style>

		
<!-- <style>
	html, body, a {
		text-decoration: none;
		 z-index: 0;
	}

	.svg-wrapper {
	  height: 40px;
	 margin: 26px 0 0 0;
	  top: 50%;
	  transform: translateY(-50%);
	  width: 260px;
	  z-index: 900;
	}

	.shape {
		z-index: 1200;
	  fill: transparent;
	  stroke-dasharray: 140 590;
	  stroke-dashoffset: -362;
	  stroke-width: 8px;
	  stroke: #0096ff;
	}

	.text {
	  color: #000;
	  font-family: 'Open Sans', helvetica, sans-serif;
	  font-size: 18px;
	  line-height: 24px;
	  width: 260px;
	  text-align: center;
	  position: relative;
	  top: -38px;
	  text-decoration: none;
	}


	@keyframes draw {
	  0% {
	    stroke-dasharray: 140 540;
	    stroke-dashoffset: -362;
	    stroke-width: 8px;
	  }
	  100% {
	    stroke-dasharray: 760;
	    stroke-dashoffset: 0;
	    stroke-width: 2px;
	  }
	}

	.svg-wrapper:hover .shape {
	  -webkit-animation: 0.5s draw linear forwards;
	  animation: 0.5s draw linear forwards;
	  z-index: 900;
	}
</style> -->