	<div class="container page-ease" id="ground" style="margin-top: -15px;">	
		<div class="row">
			<div class="col-md-8 offset-md-2" style="text-align: center;">
				<img src="/img/eCareerDirection-logo-white.svg" style="margin-top: 3em; text-align: center;" width="99%" />
			</div>
		</div>
		<div class="row">
			<div class="col" style="color: white; text-align: center; margin-top: 2em;" id="header">	
				<p style="font-size: 2.4em; line-height: 1.25em;">A Comprehensive Guide To Planning Your Future</p>
				<p style="font-weight: 300; font-size: 1.6em; line-height: 1.25em;">Guidance for high school students and young adults.</p>
				<p style="font-weight: 300; font-size: 1.6em; line-height: 1.25em;">Your career, education and training, and lifestyle decisions are some of the most important decisions you will ever make!</p>
			</div>
		</div>
		<div class="row" style="margin-top: 3em; padding-bottom: 1em;">			  
			<div class="col-lg-4" style="text-align: center;">
				<p id="students" style="font-weight: 300; font-size: 1.2em; line-height: 1.4em; color: white;">The <span style="font-weight: 600;"><span class="logo-e">e</span>Career Direction</span> program meets virtually all mandated career guidance criteria.</p>
			</div>
			<div class="col-lg-4" style="text-align: center;">
				<p id="reports" style="font-weight: 300; font-size: 1.2em; line-height: 1.4em; color: white;"><span style="font-weight: 600;"><span class="logo-e">e</span>CD Reports</span> can help you start working toward your career success today!</p>
			</div>
			<div class="col-lg-4" style="text-align: center;">
				<p id="resumes" style="font-weight: 300; font-size: 1.2em; line-height: 1.4em; color: white;"><span style="font-weight: 600;"><span class="logo-e">e</span>CD Online Resume Tool</span> can help you create resumes and cover letters that will help you &ldquo;get that job!&rdquo;</p>
				<br />
			</div>
		</div> 
	</div>
	<br />
	<div class="container">
		<div class="row">
			<div class="col-md-4" id="student" style="text-align: center;">
				<p style="font-size: 2.6em; line-height: 1.25em; color:#08297b;">Student</p>
				<p style="font-weight: 300; font-size: 1.3em; line-height: 1.4em">Tools to discover your career Interests and create a personal resume.</p>
				<!-- <p style="font-weight: 300; font-size: 1.3em; line-height: 1.4em">Your career, education and training, and lifestyle decisions are some of the most important decisions you will ever make!</p> -->
				<a href="student/report" class="btn btn-primary" style="margin-top: 9px;">&nbsp;LET'S GET STARTED!&nbsp;</a>
				<br /> <br /><br />
			</div>  
			<div class="col-md-4" id="educator" style="text-align: center;">
				<p style="font-size: 2.6em; line-height: 1.25em; color:#08297b;">Educator</p>
				<p style="font-weight: 300; font-size: 1.3em; line-height: 1.4em"><strong><span class="logo-e">e</span>CareerDirection</strong> is a no-cost guidance workshop that has helped over 6 million high school students plan their futures.</p>
				<a href="educator/index" class="btn btn-primary" style="margin-top: 9px;">&nbsp;LEARN MORE!&nbsp;</a>
				<br /> <br /><br />
			</div> 
			<div class="col-md-4" id="rep" style="text-align: center;">  
				<p style="font-size: 2.6em; line-height: 1.25em; color:#08297b;">ARNG Rep</p>
				<p style="font-weight: 300; font-size: 1.3em; line-height: 1.4em">The National Guard offers educational, training, employment, financial assistance, and personal growth opportunities for qualifying students.</p>
				<a href="arng/arng" class="btn btn-primary" style="margin-top: 9px;">&nbsp;LEARN MORE!&nbsp;</a>
			</div>
		</div> 
		<div class="row" id="quotes" style="margin-top: 1em;">	
			<div class="col-md-6"> 
				<blockquote class="box rounded" style="font-size: 1.2em; line-height: 1.4em"><i class="icon-quote-left" style="color: #00bb9c;"></i>&nbsp; This program has brightened my future. Because of this program, I now know where to rely for help. Thank you for your time and dedication.<br />
					<small class="blockquote-footer">Student, Hanson High School, SD</small>
				</blockquote>
			</div>
			<div class="col-md-6"> 
				<blockquote class="box rounded" style="font-size: 1.2em; line-height: 1.4em"><i class="icon-quote-left" style="color: #00bb9c;"></i>&nbsp; I learned that staying in school is very important to getting a successful career that's right for me and not just a paycheck.<br />
					<small class="blockquote-footer">Student, Brookland-Cayce High School, SC</small>
				</blockquote>
			</div>
		</div>
	</div>
</div> <!-- /container -->

<style>
	
	.page-ease	{
		animation: fadepic 0.75s 1 ease-in-out;
	}
	
	@keyframes fadepic {
	  0% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}
	
	#students {
	  animation: movein 1s 1 ease-in-out;
	}
	#reports {
	  animation: movein 1.25s 1 ease-in-out;
	}
	#resumes {
	  animation: movein 1.5s 1 ease-in-out;
	}

	@keyframes movein {
	  0% {
	    opacity: 0;
	  }
	  70%	{
		  opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}
	
	#student {
	  animation: fadein 1.75s 1 ease-in-out;
	}
	#educator {
	  animation: fadein 2s 1 ease-in-out;
	}
	#rep {
	  animation: fadein 2.25s 1 ease-in-out;
	}
	#quotes {
	  animation: fadein 2.5s 1 ease-in-out;
	}
	
	
	@keyframes fadein {
	  0% {
	    opacity: 0;
	  }
	  80%	{
		  opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}
	
	#header	{
		animation: movedown 1.1s 1 ease-in-out;
	}
	
	@keyframes movedown {
	  0% {
	    opacity: 0;
		 transform: translateY(-36px);
	  }
	  50% {
	    opacity: 0;
		 transform: translateY(-36px);
	  }
	  100% {
	    opacity: 1;
		 transform: translateY(0px);
	  }
	}
	

</style>

	