	  
	  <!-- <div class="navbar navbar-inverse navbar-static-top" style="border-bottom: 3px solid silver;">
		  <div class="navbar-inner">
			  <div class="container">
				  <div class="span12" style="padding: 12px 0px; color: black;"><img src="img/careerdirection+.png" /></div>
			  </div>
		  </div>
	  </div> -->
	  <div class="container-white">
		  <div class="container" >	
			  <div class="row-fluid">
				  <div class="span12" style="margin-bottom: 22px;">
					  <h1 style="margin: 25px 0px 10px 0px;">A Comprehensive Guide To Planning Your Future</h1>
					  <p style="font-weight: 300; font-size: 1.8em; line-height: 1.4em;">Guidance for high school students and young adults.</p>
				  </div>
			  </div>
			  <div class="row-fluid">
				  <div class="span6" style="color: black;">
			 		 <img src="../img/CD2-image.jpg" style="margin: 0;" />
					 <br /><br /><br />
				  <p style="font-weight: 300; font-size: 1.4em; line-height: 1.4em">The <span style="font-weight: 600;">Career Direction 2</span> program meets virtually all mandated career guidance criteria.</p>
				  <p style="font-weight: 300; font-size: 1.4em; line-height: 1.4em"><span style="font-weight: 600;">CD2 Reports</span> can help you start working toward your career success today!</p>
				  <p style="font-weight: 300; font-size: 1.4em; line-height: 1.4em"><span style="font-weight: 600;">CD2 Online Resum&eacute; Tool</span> can help you create resum&eacute;s and cover letters that will help you &ldquo;get that job!&rdquo;</p>
				  <br />
				  
				  </div>
			  
				  <div class="span6" style="padding-left: 2em;">
					  <h2 >Student</h2>
					  <p style="font-weight: 300; font-size: 1.4em; line-height: 1.4em">Your career, education and training, and lifestyle decisions are some of the most important decisions you will ever make!</p>
					  <a href="student/student" class="btn btn-primary" style="margin-bottom: 2em;">Learn More!</a>
				 
					  <h2>Educator</h2>
					  <p style="font-weight: 300; font-size: 1.4em; line-height: 1.4em">Career Direction 2 is a no-cost guidance workshop that has helped over 6 million high school students plan their futures...</p>
					  <a href="educator/index" class="btn btn-primary" style="margin-bottom: 2em;">Learn More!</a>
				
					  <h2>ARNG Rep</h2>
					  <p style="font-weight: 300; font-size: 1.4em; line-height: 1.4em">The National Guard offers educational, training, employment, financial assistance, and personal growth opportunities for qualifying students.</p>
					  <a href="arng/arng" class="btn btn-primary" style="margin-bottom: 2em;">Learn More!</a>
					  
					  <blockquote><i class="icon-quote-left"></i> This program has brightened my future. Because of this program, I now know where to rely for help. Thank you for your time and dedication.<br />
						  <small>Student, Hanson High School, SD</small>
					  </blockquote>
				  </div>
			  </div>
			  <!-- <div class="row-fluid">
					  <hr style="margin: 42px 0;" />
					  <div class="span5">
						  <div width="100%">
							  <iframe width="314" height="230" src="https://www.youtube.com/embed/1wAEyN4pWec" frameborder="0" class="pic-border" allow="autoplay; encrypted-media" style="border: 1px solid #000000;"></iframe>
						  </div>

				  </div>
			  </div> -->
		  </div> <!-- /container -->
	  </div> <!-- /container-white -->
		
