<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  	<meta name="description" content="" />
  	<meta name="author" content="" />
  	<title></title>
  	<link href="css/bootstrap.css" rel="stylesheet">
  	<link href="css/bootstrap-responsive.cs" rel="stylesheet">
  	<link type="text/css" rel="stylesheet" href="css/theme.css" />
  	<link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.css" />
	
  	<script type="text/javascript" src="js/dependencies/jquery-1.8.0.min.js"></script>
  	<script type="text/javascript" src="js/dependencies/jquery-ui-1.8.22.custom.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
  	<script type="text/javascript" src="js/hide_addressbar.js"></script>
  	<script type="text/javascript" src="js/application.js"></script>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  	<!-- <link rel="shortcut icon" href="/img/favicon.ico">
  	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
  	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
  	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
  	<link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">  -->
  </head>
    
  <body>
	  
	  <div class="navbar navbar-inverse nav-grad navbar-static-top" style="border-bottom: 3px solid silver;">
		  <div class="navbar-inner nav-grad">
			  <div class="container">
			  
				  <div class="span12" style="padding: 22px 0px; color: silver; text-shadow: -1px -2px 0 rgba(0, 0, 0, 0.5); font-weight: 300; font-size: 36px;"><img src="img/cd2-circle170.png" />&nbsp;&nbsp;&nbsp;Career Direction 2</div>
				
			  </div>
		  </div>
	  </div>
	
	  <div class="container-new" style="background-color: white; padding: 24px 0px;">
		  <div class="container">	
			  <div class="row">
				  <div class="span12">
					  <p class="pull-left" style="padding: 32px 32px 32px 0">
						  <iframe width="480" height="360" src="http://www.youtube.com/embed/_WUhj7ecnNk?rel=0" frameborder="0" allowfullscreen></iframe>
					  </p>
				
					  <br /><br /><br /><br />
					  <h1>High School and Beyond</h1>
					  <p class="lead">Guidance for high school students and young adults.</p>
					  <p>Career Direction 2 is a no-cost guidance program that has helped over 5 million high school students plan their futures...</p>
				  </div>
			  </div>

			  <div class="row">
				  <div class="span12">
					  <div class="row">
						  <div class="span4">
							  <h3>Student</h3>
							  <p>It is not easy selecting a career. In fact, your career, education and training, and lifestyle decisions are some of the most important decisions you will ever make!</p>
							  <a href="student/student" class="btn btn-primary btn-large">Learn More!</a>
						  </div>
						  <div class="span4">
							  <h3>Educator</h3>
							  <p>Career Direction 2 is a no-cost guidance workshop that has helped over 5 million high school students plan their futures...</p>
							  <a href="educator/educator" class="btn btn-primary btn-large">Learn More!</a>
						  </div>
						  <div class="span4">
							  <h3>ARNG Rep</h3>
							  <p>The National Guard offers educational, training, employment, financial assistance, and personal growth opportunities for qualifying students.</p>
							  <a href="arng/arng" class="btn btn-primary btn-large">Learn More!</a>
							  <br /><br />
						  </div>
					  </div>
				  </div>
			  </div>
		  </div> <!-- /container -->
	  </div> <!-- /container-white -->
		
	  <footer>
		  <div class="container">
	        <p class="container"><a href="/about" class="btn btn-inverse pull-left"><img src="/img/ctc-logo-sm.png" style="margin-top: -4px;" /> &nbsp;About CTC</a> &nbsp; &copy; 1996 - 2013 Career Training Concepts Inc. All rights reserved. &nbsp; <a href="/admin/admin" class="btn btn-mini">Admin</a> <img src="/img/ng-wide.png" class="pull-right" /></p>

			</div>
		</footer>

	</body>
</html>
