	  
	  <!-- <div class="navbar navbar-inverse navbar-static-top" style="border-bottom: 3px solid silver;">
		  <div class="navbar-inner">
			  <div class="container">
				  <div class="span12" style="padding: 12px 0px; color: black;"><img src="img/careerdirection+.png" /></div>
			  </div>
		  </div>
	  </div> -->
	  <div class="container-white">
		  <div class="container" id="ground">	
			  
				  <div class="span12" style="margin: 22px; color: white;">
					  <h1>A Comprehensive Guide To Planning Your Future</h1>
					  <p style="font-weight: 300; font-size: 1.8em; line-height: 1.4em;">Guidance for high school students and young adults.</p>
				  </div>
				  
				  <div class="span4 offset4" style="margin-top: 20em;">
					  <p style="font-weight: 300; font-size: 1.4em; line-height: 1.4em; color: white;">The <span style="font-weight: 600;">Career Direction 2</span> program meets virtually all mandated career guidance criteria.</p>
				  <br />
					  <p style="font-weight: 300; font-size: 1.4em; line-height: 1.4em; color: white;"><span style="font-weight: 600;">CD2 Reports</span> can help you start working toward your career success today!</p>
				  <br />
					  <p style="font-weight: 300; font-size: 1.4em; line-height: 1.4em; color: white;"><span style="font-weight: 600;">CD2 Online Resum&eacute; Tool</span> can help you create resum&eacute;s and cover letters that will help you &ldquo;get that job!&rdquo;</p>
					  <br />
				  </div>
			 
		  </div>
		  <br /><br />
		  <div class="container">
			  <div class="row">
				  <div class="span4">
					  <h2 >Student</h2>
					  <p style="font-weight: 300; font-size: 1.4em; line-height: 1.4em">Your career, education and training, and lifestyle decisions are some of the most important decisions you will ever make!</p>
					 
						 <a href="student/student" class="btn btn-primary">LEARN MORE!</a>
					
					  <!-- <div class="svg-wrapper">
						  <a href="student/student">
						  <svg height="40" width="260" xmlns="http://www.w3.org/2000/svg">
							  <rect class="shape" height="40" width="260" style="z-index: 400;"/>
						  </svg>
						  </a>
					     <div class="text" style="z-index: -1;">LEARN MORE!</div>
					  </div> -->
					<br /> <br />
				</div>  
				 <div class="span4">
					  <h2>Educator</h2>
					  <p style="font-weight: 300; font-size: 1.4em; line-height: 1.4em">Career Direction 2 is a no-cost guidance workshop that has helped over 6 million high school students plan their futures...</p>
					  
					  <a href="educator/index" class="btn btn-primary">LEARN MORE!</a>
					  
					  <!-- <div class="svg-wrapper">
						  <a href="educator/index">
						  <svg height="40" width="260" xmlns="http://www.w3.org/2000/svg">
							  <rect class="shape" height="40" width="260" style="z-index: 400;"/>
						  </svg>
						  </a>
					     <div class="text" style="z-index: -1;">LEARN MORE!</div>
					  </div> -->
					  <br /> <br />
					</div>  
					 <div class="span4">  
				
					  <h2>ARNG Rep</h2>
					  <p style="font-weight: 300; font-size: 1.4em; line-height: 1.4em">The National Guard offers educational, training, employment, financial assistance, and personal growth opportunities for qualifying students.</p>
					  
					  <a href="arng/arng" class="btn btn-primary">LEARN MORE!</a>
					  
					  <!-- <div class="svg-wrapper">
						  <a href="arng/arng">
						  <svg height="40" width="260" xmlns="http://www.w3.org/2000/svg">
							  <rect class="shape" height="40" width="260" style="z-index: 400;"/>
						  </svg>
						  </a>
					     <div class="text" style="z-index: -1;">LEARN MORE!</div>
					  </div> -->
					  
					</div>
					</div>
					
					<div class="span6"> 
					  <blockquote><i class="icon-quote-left"></i> This program has brightened my future. Because of this program, I now know where to rely for help. Thank you for your time and dedication.<br />
						  <small>Student, Hanson High School, SD</small>
					  </blockquote>
				  </div>
			  </div>
			  
			 
			  
			  
			  
			  
			  
			  
			  
			  
			  <!-- <div class="row-fluid">
					  <hr style="margin: 42px 0;" />
					  <div class="span5">
						  <div width="100%">
							  <iframe width="314" height="230" src="https://www.youtube.com/embed/1wAEyN4pWec" frameborder="0" class="pic-border" allow="autoplay; encrypted-media" style="border: 1px solid #000000;"></iframe>
						  </div>

				  </div>
			  </div> -->
		  </div> <!-- /container -->
	  </div> <!-- /container-white -->
		
<style>
	html, body, a {
		text-decoration: none;
		 z-index: 0;
	}
		
	.svg-wrapper {
	  height: 40px;
	 margin: 26px 0 0 0;
	  top: 50%;
	  transform: translateY(-50%);
	  width: 260px;
	  z-index: 900;
	}

	.shape {
		z-index: 1200;
	  fill: transparent;
	  stroke-dasharray: 140 590;
	  stroke-dashoffset: -362;
	  stroke-width: 8px;
	  stroke: #0096ff;
	}

	.text {
	  color: #000;
	  font-family: 'Open Sans', helvetica, sans-serif;
	  font-size: 18px;
	  line-height: 24px;
	  width: 260px;
	  text-align: center;
	  position: relative;
	  top: -38px;
	  text-decoration: none;
	}
	

	@keyframes draw {
	  0% {
	    stroke-dasharray: 140 540;
	    stroke-dashoffset: -362;
	    stroke-width: 8px;
	  }
	  100% {
	    stroke-dasharray: 760;
	    stroke-dashoffset: 0;
	    stroke-width: 2px;
	  }
	}

	.svg-wrapper:hover .shape {
	  -webkit-animation: 0.5s draw linear forwards;
	  animation: 0.5s draw linear forwards;
	  z-index: 900;
	}
</style>