	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
						
				<h1 class="page-header">About the National Ability Center</h1>
				
				<a href="http://www.discovernac.org" target="blank"><img class="pull-left padright" src="img/nacLogo.gif" alt="NAC Logo"></a>
				
				
				<p>The publisher of <strong>Career Direction 2</strong> is proud to help spread the word about this incredible 
				organization.</p>

				<p>The National Ability Center is committed to the development of lifetime skills for people of 
				all ages and abilities by providing affordable outdoor sports and recreational experiences 
				in a nurturing environment. </p>
				
				<p>The objective of these experiences is to build self-esteem, confidence, and physical development, 
				thereby enhancing active participation in all aspects of community life. As a national role model, 
				the Center promotes the concept of ability through integration, public awareness, and education.</p>
				
				<h3 class="redHead"><em>Our motto is: "If I can do this, I can do anything."</em></h3>
				
				<p>Founded in 1985 in Utah, the National Ability Center serves people ages three to 75. With an emphasis 
				on safety, fun, and education, the Center encourages the participation of individuals of all abilities, 
				including those with orthopedic, spinal cord, neuromuscular, visual, and hearing impairments, as well as 
				cognitive and developmental disabilities. In an attempt to eliminate the isolation of individuals with 
				disabilities, friends and family members are also encouraged to participate.</p>
 
				<h3>Featured Athlete: Greg Shaw</h3>
				
				<img class="pull-left padright" style="margin-top: 9px;" src="img/gregShaw.gif" alt="Greg Shaw">
								
				<p>Greg Shaw was born with a disability. His spine ends at his waist. He has no use of his legs, but 
				that hasn't stopped him! Greg skis, plays sled hockey, and cycles. Why? Because Greg loves the thrill 
				of competition. He overcomes challenges every day and refuses to give up.</p>
				
				<p>Greg came to the National Ability Center in 2004 at the age of 14. In 2006, he made the US National 
				Sled Hockey Team. During the winter, Greg spends almost 6 days a week competing and training. His goal 
				is to compete in the 2010 Paralympics. In the summer, he completes a full year of coursework, along with 
				other winter athletes at The Winter Sports School at Olympic Park in Park City, UT. At 17, Greg Shaw is 
				one of America's greatest student athletes.</p>
				
         		<blockquote>"Because of the NAC, I hope to make all of my goals a reality." <small>Greg Shaw</small></blockquote>
				
				<p>We all face challenges in life, some bigger than others. But like Greg, we can decide "I will never 
				give up!"</p>
				
				<h5 align="center"><em>What challenges do you need to overcome to make your goals and dreams reality?</em></h5>
				<h5 align="center"><em>How can you help others overcome their challenges to achieve their goals and dreams?</em></h5>

         		<p>Please visit <a href="http://www.discovernac.org" target="blank"><strong>National Ability Center</strong></a> for more information.</p><br />
				
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->

