<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span8">
				<h1>RRC</h1>
		
				<table class="table table-striped table-hover">
					<tr>
						<th>State</th>
						<td><%= @rrc.state %></td>
					</tr>
					<tr>
						<th>Email</th>
						<td><%= @rrc.email %><Edit></td>
					</tr>
				</table>
			</div>
			<div class="span3 offset1">
				<br /><br /><br /><br />

				<a href="../admin/admin" class="btn btn-success">Admin</a></p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

