<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span9 offset3">
				<h1 class="page-header">Profile</h1>
			</div>
			<div class="span4 offset3">
						
				<p><strong>Email</strong><br /><%= @user.email %></p>
				<p><strong>Password</strong><br /><%= @user.password %></p>
				<a href="/users/<%= @user.id %>/edit" class="btn btn-success"><i class="icon-pencil"></i> &nbsp;Edit</a>

			</div>
			<div class="span3">
				<a href="/users/<%= @user.id %>/resume_tool" class="btn btn-primary">Online Resume Tool</a></p>
				<a href="/admin/admin" class="btn btn-success"><i class="icon-signout"></i> &nbsp;Sign out</a></p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

