<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Online Resume Tool</h1>
			</div>
			<div class="span8">
						
				<table class="table table-striped table-hover">
					<tr>
						<th>Email</th>
						<td><%= @user.email %></td>
						<td>Edit</td>
					</tr>
					<tr>
						<th>Password</th>
						<td><%= @user.password %></td>
						<td>Edit</td>
					</tr>
				</table>
			</div>
			<div class="span3 offset1">
				<br /><br /><br /><br />
				<h6>Profile</h6>
	         <input type="text" class="input-block-level" placeholder="melvin@suggins.com">
	         <input type="password" class="input-block-level" placeholder="melvin123">
				<a href="#" class="btn btn-small">Update Account</a>
				<br /><br /><br />
				<a href="/admin/admin" class="btn btn-success"><i class="icon-signout"></i> &nbsp;Sign out</a></p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

