@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,300,400,600,700);

body {
	padding-top: 0px;
    font-family: 'Open Sans', helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: 0px;
	background-color: #ededed;
    background-image: url('../img/brushed_alu.png');
    background-position: center;
    background-repeat: repeat;
}

.container-white 	{
	background: white;
	padding: 24px 0px 36px 0px;
	margin: 0px;
	border: none;
	border-top: 1px solid silver;
}

.container {
  margin-top: 0px;
  color: #000000;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #f9f9f9;
  font-size: 1.15em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 36px 12px 32px 12px;
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .brand:active,
.navbar-inverse .nav > li > a:active {
  color: #009ed8;
}

.navbar-inverse .brand {
	margin-top: 14px;
  color: #f9f9f9;
}

.navbar-inverse .navbar-text {
  color: #f9f9f9;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:active {
  color: #009ed8;
  background-color: transparent;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus,
.navbar-inverse .nav .active > a:active {
  color: #009ed8;
  background-color: transparent;
}

.navbar-inverse .navbar-link {
  color: #009ed8;
}

.navbar-inverse .navbar-link:hover,
.navbar-inverse .navbar-link:focus,
.navbar-inverse .navbar-link:active {
  color: #009ed8;
}


@media (max-width: 980px) { body { padding-top: 0px; } }

ul li, ol li	{
	line-height: 1.4em;
	margin-bottom: 9px;
}

p, h2, h3, h4, h5, h6 	{
	font-family: 'Open Sans', helvetica, sans-serif;
	margin-bottom: 12px;
}

h1	{
	font-family: 'Open Sans', sans-serif;
	margin: 0px 0 18px 0;
	font-size: 2.7em;
	line-height: 1.2em;
	font-weight: 400;
	letter-spacing: -1px;
}

.page-header	{
	margin: 18px 0 32px 0;
	border: none;
}

.textfield	{
	font-family: 'Open Sans', helvetica, sans-serif;
}

h4	{
	font-family: 'Open Sans', helvetica, sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #7f8287;
}
h5	{
	font-weight: 400;
	font-size: 1.4em;
	padding: 0;
	margin: 0px 0 14px 0;
}
h6	{
	font-weight: 400;
	font-size: 1.8em;
	line-height: 1.2em;
	padding: 0 0 18px 0;
	margin: 0;
}
h3	{
	font-size: 1.8em;
	font-family: 'Open Sans', helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.2em;
	margin: 0 0 9px 0;
	padding: 0;
}

blockquote	{
	margin: 9px 0px 30px 0;
	border-left-color: silver;
}
blockquote small	{
	padding-top: 6px;
	font-size: 1em;
}

.under-link a	{
	color: #0088cc;
	font-weight: 600;
	text-decoration: none;
	padding-bottom: 1px;
	margin-bottom: -2px;
	border: none;
	border-bottom: 1px dotted #007dbc;
	line-height: 1.8em;
    -webkit-transition: all 0.15s ease-in-out;
       -moz-transition: all 0.15s ease-in-out;
         -o-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
}

.under-link a:hover	{
	text-decoration: none;
	color: black;
	border-bottom: 1px solid black;
}

.under-link a:active	{
	text-decoration: none;
	color: gray;
	border-bottom: 1px solid gray;
}

footer	{
	color: #333333;
	font-size: .85em;
	line-height: 2.8em;
	text-align: center;
	padding: 24px 0;
	margin: 0;
	border: none;
	border-top: 1px solid silver;
}

.link-row:hover {
	cursor: pointer;
}

.lead	{
	color: black;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 1.6em;
	margin-bottom: 32px;
}

.navbar .brand {
  padding: 7px 0px;
  margin-left: 0;
  font-size: 14px;
  font-weight: 200;
}

hr	{
	margin: 9px 0px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid white;
}

.clear {
	clear: all;
}

dl dd	{
	margin-bottom: 9px;
}

.table.w th,
.table.w td	{
  border-top: 1px solid #ffffff;
}

#date_due_month, #date_due_day, #date_due_year,
#invoice_date_month, #invoice_date_day, #invoice_date_year,
#date_paid_month, #date_paid_day, #date_paid_year	{
	width: 90px;
}

.well	{
	margin: 32px 0;
	padding: 18px 18px 6px 24px;
}

.sign	{
	padding: 32px 24px 22px 36px;
}

label	{
	font-size: .85em;
	font-weight: 600;
}

p.question	{
	font-size: 1.3em;
	font-weight: 600;
	font-style: italic;
	margin-top: 24px;
}

p.answer	{
	margin-left: 32px;
}

.padleft	{
	padding-left: 18px;
	margin-bottom: 14px;
}

.padright	{
	padding-right: 32px;
	margin-bottom: 14px;
}

.breadcrumb {
  padding: 12px 0px 3px 0px;
  margin: 0;
  list-style: none;
  background-color: transparent;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.breadcrumb > li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  height: 14px;
  *zoom: 1;
}

.breadcrumb > li a {
	color: #2b3e4a;
	font-weight: 600;
    padding: 3px;
}

.muted	{
	color: gray;
}

.breadcrumb > li a:hover {
	color: #007dbc;
	font-weight: 600;
	text-decoration: none;
}

.breadcrumb > li > .divider {
  padding: 0 6px;
  color: none;
}

.breadcrumb > li a:active {
  color: #9a0000;
}

.pic-border 	{
	border: 1px solid gray;
 -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
         box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.semi-bold	{
	font-weight: 600;
}

.nav-grad .navbar-inner	{
   background-image: url('../img/groundbig.png');
   background-position: top left;
   background-repeat: repeat-x;
}

.nav-grad-sm .navbar-inner	{
   background-image: url('../img/groundtop.png');
   background-position: top left;
   background-repeat: repeat-x;
	border: none;
	border-bottom: 1px solid black;
}

.half-space p	{
	margin-bottom: 32px;
}

.horz	{
	float: left;
	text-align: right;
	width: 180px;
	margin-right: 12px;
	margin-top: 4px;
}

select.month {
	width: 70px;
	margin-right: 3px;
	margin-bottom: 0;
}
select.day {
	width: 70px;
	margin-right: 3px;
	margin-bottom: 0;
}
select.year {
	width: 90px;
	margin-right: 3px;
	margin-bottom: 0;
}

blockquote {
  border-left: 5px solid #d6d8cf;
}

.flash	{
	color: red;
}

.sign-in {
	padding: 12px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.alert	{
	position: absolute;
	top: 10%;
	left: 10%;
	color: white;
	background-color: #de6957;
	padding: 12px;
   -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
           border-radius: 6px;
}

.rotated	{
	background-color: white;
   -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
           box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
	transform: rotate(-4deg);
	-ms-transform: rotate(-4deg); /* IE 9 */
	-webkit-transform: rotate(-4deg); /* Safari and Chrome */
}

.password-show	{
	color: #a72600;
	font-weight: 400;
	font-size: 1.4em;
}

.short	{
	line-height: 1.9em;
	margin: 0;
	padding: 0 0 9px 0;
}

.help-inline	{
	font-size: .85em;
	color: gray;
}

.resume-view	{
	float: left;
	clear: both;
	text-align: right;
	width: 200px;
	margin-right: 18px;
	line-height: 3em;
	margin-top: -7px;
}

.trans1	{
	opacity: 0.1;
}

.trans4	{
	opacity: 0.4;
}

div#alert {
	display: none;
	position: absolute;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	line-height: 2em;
	display: block;
	background-color: rgba(254, 226, 027, 0.2);
	padding: 0 4px;
	margin: 44px auto 0 auto;
	text-align: center;
	color: #e82602;
	font-weight: 800;
	z-index: 999;
}



