	
	<div class="container">
		  
		<ul class="breadcrumb">
			 <li><a href="arng">Career Direction 2</a> <span class="divider"> </span> </li>
			 <li><a href="leads">Generate Leads</a> <span class="divider"> </span> </li>
			 <li class="active"><a href="register">Register Your School</a> <span class="divider"> </span> </li>
			 <li><a href="feedback">Recruiter Feedback</a> <span class="divider"> </span> </li>
			 <li><a href="apractices">Best Practices</a> <span class="divider"> </span> </li>
			 <li><a href="downloads">Downloads</a> <span class="divider"> </span> </li>
			 <li><a href="faq">FAQ</a> <span class="divider"> </span> </li>
		 </ul>
      </div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Careers and Occupations Guide</h1>
			</div>
			<div class="col-md-8">
				
				<p>This organization is already registered. Use the School ID below to gain access to the Career and Occupations Guide. A confirmation of this information has also been generated and emailed to your organization's primary contact.</p> 

				<div class="well">
					<h5>Your School ID is: <strong><% @school.school_password %></strong></h5>
				</div>

		</div>

		<div class="col-md-4">
		  <p> </p>
	  	</div>
				  
		</div>
	</div> <!-- /container -->
</div> <!-- /container-white -->
