	
	<div class="container">
		  
		<ul class="breadcrumb">
			 <li><a href="arng">Career Direction 2</a> <span class="divider"> </span> </li>
			 <li><a href="leads">Generate Leads</a> <span class="divider"> </span> </li>
			 <li class="active"><a href="register">Register Your School</a> <span class="divider"> </span> </li>
			 <li><a href="feedback">Recruiter Feedback</a> <span class="divider"> </span> </li>
			 <li><a href="apractices">Best Practices</a> <span class="divider"> </span> </li>
			 <li><a href="downloads">Downloads</a> <span class="divider"> </span> </li>
			 <li><a href="faq">FAQ</a> <span class="divider"> </span> </li>
		 </ul>
      </div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Careers and Occupations Guide</h1>
			</div>
			<div class="col-md-8">
				
				<p>Please select your organization from the list below</p>


				<div class="well sign">	
						<label class="radio">
						  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						  Georgia Perimeter College, Lawrenceville, GA 30043
						</label>
						<label class="radio">
						  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						  Georgia Perimeter College, Lawrenceville, GA 30043
						</label><label class="radio">
						  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						  None of the above
						</label>
						

					<br />
					<a href="" class="btn btn-small btn-success">I am the selectd organization above</a>  <a href="reg-cog-word">If registered it will go here</a>
				</div>
				
				

				<ul>
					<li>If the school you want to register is listed above, click that option for the School ID.</li>

					<li>If the school you want to register is listed above as <strong>Not Activated</strong>, this means the school has made an online request. Click that option, correct any of the POC information that is incorrect, and click "Finish Registration" to generate the school's password.</li>

					<li>If your school is listed more than once, you may call 888-326-9229 to delete duplications.</li>

					<li>If the school you want to register is not listed, click "None of the above."</li>
				</ul>
				

		</div>

		<div class="col-md-4">
		  <p> </p>
	  	</div>
				  
		</div>
	</div> <!-- /container -->
</div> <!-- /container-white -->
