	<div class="container">
		<div class="row" style="padding: 20px 0 24px 0;">
			<div class="col-md-12">
				<a href="/student/reports/:id/report" class="btn btn-small pull-right">Back</a>
				<h1>Careers and Occupations Guide Report</h1>
				<hr />
			</div>
		</div>
		<div class="row">	
			<div class="col-md-12">
				<h3><%= @student.first_name %> <%= @student.middle_name %> <%= @student.last_name %></h3>
				<%= @student.email %><br /><br />
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<p>Enter the Occupational Category letters from your Interest Exercise Video (letters A - I). You must enter both letters to create a report.</p>
				<form method="post" id="scores">
				<div class="form-group row">
						<select type="text" class="form-control pull-left" name="score1" id="score1" style="width: 100px; margin-left: 12px;" >
							<option>&nbsp;</option>
							<option>A</option>
							<option>B</option>
							<option>C</option>
							<option>D</option>
							<option>E</option>
							<option>F</option>
							<option>G</option>
							<option>H</option>
							<option>I</option>
						</select>
						<span style="margin: 7px 0 0 12px">1st Highest</span>
				</div>
				<div class="form-group row">
						<select type="text" class="form-control pull-left" name="score2" id="score2" style="width: 100px; margin-left: 12px;" >
							<option>&nbsp;</option>
							<option>A</option>
							<option>B</option>
							<option>C</option>
							<option>D</option>
							<option>E</option>
							<option>F</option>
							<option>G</option>
							<option>H</option>
							<option>I</option>
						</select>
						<span style="margin: 7px 0 0 12px">2nd Highest</span>
				</div>
				
					<p style="margin-top: 24px;">
						<input type="submit" class="btn btn-success" value="Save Category Letters" />
					</p>
				</form>
			</div>
			
			
			
			
			
		</div>
	</div>

<script  type="text/javascript">
	var frmvalidator = new Validator("scores");
	frmvalidator.addValidation("score1","req","Please enter your 1st highest score");
	frmvalidator.addValidation("score2","req","Please enter your 2nd highest score");

</script>
