<div style="margin: 32px 10%;">						
				
	<p style="font-size: 20px;">Hello <%= @student.first_name %> <%= @student.last_name %>. Welcome to <span style="font-weight: 900; letter-spacing: -1px;"><span class="logo-e">e</span>CareerDirection</span>.</p>
				
	<p style="font-size: 16px;">Your personalized interest report indicates your main interest is <b><%= @student.high1_show %></b> and your next interest is <b><%= @student.high2_show %>.</b> You can return to your account any time to see your scores and watch videos or take the exercise a second time.</p>
	<br />
	<p>Thanks for your participation.<br />The <span style="font-weight: 900; letter-spacing: -1px;"><span class="logo-e">e</span>CareerDirection</span> Team</p>
	<br />	
</div>