
<div class="container">	
	<div class="row">
		<div class="col-md-12">
					
					<img src="/img/arng_4cp_cta_camo.png" style="float: right; margin-top:12px;" width="80px">
				
					<img src="/img/eCareerDirection-logo-black.svg" style="margin-top:42px;" width="240px">
				
				<p style="margin-top: 24px;">Report for <%= @student.first_name %> <%= @student.last_name %> at <%= @student.school.school_name %></p>
			
		</div>
		<div class="col-md-12" style="margin-top: -32x;">			
					
					<hr />
		
		    <% if @report1 %>
				  <%= @report1 %>
		    <% end %>
			 
			<br /> 
			<hr />
		
				<p><center><a onclick="goBack()" class="btn">Back</a></center></p>

		</div>
	</div>
</div>

