<div class="container">	
	<div class="row"> 
		<div class="col-md-8 offset-md-2">
			<br /><br /><br /><br />
			<h1 class="page-header">Your account has not yet been activated.</h1>
			<h4>Please call CTC at 888-326-9229 to get your account activated.</h4>
			<br /><br /><br /><br />
		</div>
	</div>
</div>
