<div class="container">	
	<div class="row">  
		<div class="col-md-12">
			<h1 class="page-header">New Recruiter</h1>
		</div>
		<div class="col-md-12">
			<p class="lead">Enter your verification code to continue.</p>
		</div>
	</div>
		
	<form method="post" id="create_rec">
					
	<div class="form-row">
		<div class="form-group col-md-6">
			<input type="text" id="reg_code" name="reg_code" class="form-control" placeholder="" value="<%= params[:reg_code] %>" required />
		</div>
	</div>
	<% if settings.development? %>
		<%= session[:verify] %>
	<% end %>
	<div class="form-row">
		<div class="form-group col-md-12">
			<input class="btn btn-success" style="margin-right: 14px;" type="submit" value="Continue" /> &nbsp;<a href="/recruiters/noaccount/" class="btn btn-secondary">Cancel</a> 
		</div>
	</div> <!-- /row -->
	</form>
</div>
	
	
	
