 	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a href="/student/resume/index" class="btn btn-small pull-right" style="margin-top: 12px;">Resume Tool</a>
				<h1 class="page-header">References</h1>
			</div>
			<div class="col-md-8 offset-md-2">
				
				<table class="table table-striped table-condensed table-hover">
					<tr>
						<th>Name</th>
						<th>Relationship</th>
						<th><a href="/student/resume/references/new" class="btn btn-small btn-success pull-right"><i class="icon-plus"></i> New</a></th>
					</tr>
					<% @student.references.each do |reference| %>
					<tr>
						<td><%= reference.name %></a></td>
						<td><%= reference.relationship %></a></td>
						<td style="text-align: right;"><span class="btn btn-small"><a href="/student/resume/references/<%= reference.id %>/edit">Edit</a></span> &nbsp; <span class="btn btn-small"><a href="/student/resume/references/<%= reference.id %>/view">View</a></span></td>
					</tr>
					<% end %>
				</table>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->
 
