
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h3 style="text-align: center; margin-top: 5em;">Wrong answer. Are you a Robot?</h3>
			</div>
			<div class="col-md-12" style="margin: 2rem 0; text-align: center;">
				<button class="btn btn-primary btn-large" onClick="history_back()">Try again</button>
			</div>
		</div>
	</div>
		
<script>
	function history_back() {
		window.history.back();
	} 
</script>