

	<div class="container">	
		<div class="row">  
	  <div class="col-md-12">
		  <h1 class="page-header">Educator Feedback</h1>
	  </div>
	  <div class="col-md-8">
			
		  <blockquote><i class="icon-quote-left"></i> Career Direction helps our students find areas for which they are best suited and gives them suggestions for areas of focus. We are impressed by the personalized detailed reports and the students benefit from the relevant information.<br />
			<small>Candi Agee, Academy Coordinator, Henry County High School, TN</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> Thank you for making our students a priority and for everything you provided to us. Career Direction and the Army National Guard ... ROCK!<br />
			<small>Laura Stutts, teacher, Eustis High School, FL</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> The materials presented here through the booklet were very good. What I also liked about it is that each student got a copy to take along and use at a later date that might seem to be more appropriate for them at that time. The representatives from the National Guard who presented did an excellent job - as indicated by the student evaluations. About the only student complaint was that there could have been more time. I appreciate having such partners in education as you are.<br />
			<small>High School school Counselor, IA</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> Career Direction helped me reach a larger number of students in a short period of time than I would have been able to do on my own. It helped the students to begin thinking about life after high school & some of the options that they have, that they may not have thought about before. The National Guard representatives were terrific! This is an excellent program, please continue to offer it!<br />
			<small>Dennielle Patterson, school Counselor, St. Johns High School, AZ</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> Career Direction is such a great program to offer my students. All of us appreciate every bit of the booklet. Please direct our thanks to the Army National Guard also. We really appreciate their funding for this project because it gives a great deal of meaningful information to our students.<br />
			<small>Patsy Chilcote, Career & Technology Counselor, Denton, TX</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> Thank you for the wonderful materials and presentations made by SGT Deidrich! The information was up-to-date, informative, interesting, and relevant to all of the classes that I teach.<br />
			<small>Patty Igo, Teacher, Poca High School, WV</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> Thank you for providing the Career Direction workshop for our students. Sgt. Chad Higgenbotham presented the program and he did a great job.The booklets have wonderful information for the students.<br />
			<small>Judy McGhee, Vocational Counselor, South Pike High School, MS</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> SSG Hosfelt is an awesome presenter. I schedule the Career Direction class when I am out of school and have a substitute, so that the students get something productive that day.<br />
			<small>Frank Cathey, La Vergne High School, TN</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> I was very interested in the Career Direction exercise that gives individual reports. I like the idea of your returning the next week with the student results.<br />
			<small>G. Huskey, teacher, Berkeley County School District, SC</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> The ARNG staff were professional, knowledgeable, and very well prepared. They were able to reach my students at their level, and were right on point in answering their questions. The materials were excellent, well thought out, of interest to students, and covered careers in a way in which virtually every student could benefit.<br />
			<small>Dr. Sandra Kinter, Marion Center High School, PA</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> This program reinforced the importance of goal setting and empowered the students to take control of their lives.<br />
			<small>Katina Dillon, English 10-12, Hammond Central School, NY</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> I am quite impressed with your Web site. What a great resource for my students! The Army National Guard has gone out of its way to aid our students in planning their futures.<br />
			<small>Kaye Hines, Teacher, WV</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> It is with a great deal of pleasure that I recommend SGT Paige Dahlgard and Luke Randall from the Washington Army National Guard and their career presentation. Both of these young people are outstanding presenters and they relate well to the students. The curriculum is well thought out and presented in a logical manner that teens can follow and understand.<br />
			<small>Jan Metcalf, Work-site Learning Coordinator, Tyee Campus, WA</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> Through the Career Direction program, our students were instilled with a sense of hopefulness. The presenter engaged each and every student. The students couldn't stop talking about the interest exercise and they are looking forward to getting their printed results.<br />
			<small>Rose Sylvester, Principal, Timberline Knolls Academy, IL</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> This is a program that I will incorporate into my curriculum and I look forward to a long relationship between the National Guard, Career Training Concepts and the Criminal Justice Academy. Career Direction is one of the best programs my students have received.<br />
			<small>William E. Marshall, CJA, Department Chairman, Pinellas Park High School, FL</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> Career Direction helps our students find areas for which they are best suited and gives them suggestions for areas of focus. We are impressed by the personalized detailed reports and the students benefit from the relevant information.<br />
			<small>Candi Agee, Academy Coordinator, Henry County High School, TN</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> Thanks so much for the Career Direction reports. They are invaluable!<br />
			<small>Rita Jarrett, Survivors Charter High School of West Palm Beach, FL</small>
			</blockquote>

			<blockquote><i class="icon-quote-left"></i> Career Direction contains very worthwhile information regarding post-secondary options for our students. The use of concrete dollar figures per type of college was certainly eye-opening to students and staff alike.<br />
			<small>Eric Jackson, Assistant Principal, Sarasota High School, FL</small>
			</blockquote>
		
	  </div>
	  <div class="col-md-3 offset-md-1">
		  <hr style="border: none; border-top: 4px solid #1abd9c; padding-bottom: 18px;"/>
		  <p class="lead"><i class="icon-quote-left"></i>  This program reinforced the importance of goal setting and empowered the students to take control of their lives.</p>
		  <hr style="border: none; border-top: 4px solid #1abd9c; margin-top: 24px;"/>
	  </div>
   </div>
  </div> <!-- /container -->
		
