<div class="container">
		  
	<ul class="breadcrumb">
		<li><a href="index" style="color: #9a0000;">Career Direction 2</a> <span class="divider"> </span> </li>
		<li><a href="steps">Steps to Success</a> <span class="divider"> </span> </li>
		<li><a href="resume">Resum&eacute; Tool</a> <span class="divider"> </span> </li>
		<li><a href="request">Request CD2</a> <span class="divider"> </span> </li>
		<li><a href="feedback">Educator Feedback</a> <span class="divider"> </span> </li>
		<li><a href="resources">Helpful Links</a> <span class="divider"> </span> </li>
	</ul>
</div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Career Direction 2</h1>
			</div>
			<div class="span8">
				<p class="lead">Career Direction 2 is a no-cost guidance workshop that has helped over 5 million high school students plan their futures...</p>
								
				<p>Students entering adulthood face some of their most critical and important life decisions. <strong>Career Direction 2</strong>, which is sponsored and presented by the Army National Guard, offers a comprehensive program for your students. Among its many benefits, <strong>Career Direction 2:</strong></p>
				
				<ul class="padleft">
					<li>Complements and enhances your own career development efforts.</li>
						
					<li>Helps students use four key career components - <strong>Interests, Priorities, Abilities,</strong> and <strong>Personality</strong> - and relates them to appropriate career choices.</li>
						
					<li>Provides students with an <strong>organized approach for involving their parents</strong> in their career-planning activities.</li>
						
					<li>Offers factual, thought-provoking information on the issues of <strong>dropping out of school, substance abuse, </strong>and <strong>addiction.</strong></li>
				</ul>
				
			</div>
			<div class="span4">
				<p><img src="../img/cd2-cover-clean.jpg" class="pic-border" /></p>
				<p><a href="../img/CD2sample.pdf" target="blank" class="btn btn-small">View Sample</a></p>
			</div>
		</div>
	</div> <!-- /container -->
</div> <!-- /container-white -->
		
