<style>
	ul#bot-space li {
		margin-bottom: 6px;
	}
</style>
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header"><img src="/img/eCareerDirection-logo-black.svg" width="300px" style="margin-top: -6px;"></h1>
			</div>
			<div class="col-md-8">
				<p class="lead"><strong><span class="logo-e">e</span>CareerDirection</strong> is a no-cost guidance workshop that has helped over 6 million high school students plan their futures...</p>
								
				<p>Students entering adulthood face some of their most critical and important life decisions. <strong><span class="logo-e">e</span>CareerDirection</strong>, which is presented by the Army National Guard, offers a comprehensive program for your students. Among its many benefits, <strong><span class="logo-e">e</span>CareerDirection:</strong></p>
				
				<ul class="padleft" id="bot-space">
					<li>Complements and enhances your own career development efforts.</li>
						
					<li>Helps students understand career components - <strong>Priorities, Interests, Abilities, Personality,</strong> and <strong>Personal Motivation</strong> - and relates them to appropriate career choices.</li>
						
					<li>Provides students with an <strong>organized approach for involving their parents</strong> in their career-planning activities.</li>

				</ul>

				<a href="request" style="margin: 9px 90px 36px 0;" class="btn  btn-primary pull-right"><strong>Request <em>e</em>CD</strong></a>

			</div>
			<div class="col-md-4">
				<p><img src="../img/eCDcover.jpg" class="pic-border" width="100%" /></p>
				<p><a href="/img/sample-temp.pdf" target="blank" class="btn btn-small">View Sample</a></p>
			</div>
		</div>
	</div> <!-- /container -->
		
