
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Request the <strong><span class="logo-e">e</span>CareerDirection</strong> Program</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<p class="lead">Would you like a member of the <strong>Army National Guard</strong> to provide a free presentation of the <strong><span class="logo-e">e</span>CareerDirection</strong> program to your students?</p>
				
				<hr style="margin: 20px 0; border-top-color: #1abc9c;" />
				
				<h5>Submit this request form and someone will contact you.</h5>
					
				<form method="post" class="school" id="requestcd2">
					
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="school_name">School name</label>
						<input class="form-control" placeholder="School name" name="school_name" id="school_name" required />
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="school_address1">School address</label>
						<input class="form-control" placeholder="Street address" name="school_address1" id="school_address1" equired />
						<input class="form-control" placeholder="Street address" name="school_address2" id="school_address2" />
					</div>
				</div>	
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="school_city">City</label>
						<input type="text" class="form-control" placeholder="City" name="school_city" id="school_city" required />
					</div>
  					<div class="form-group col-md-3">
  						<label for="state">State</label>
  						<select type="text"  class="form-control" id="state" name="state">
  								<option value="None"></option>
  							<% @state.sort{|a,b| a.id <=> b.id}.each do |state| %>
  								<option value="<%= state.abbr %>" <%= 'selected' if state.abbr == state %>><%= state.abbr %></option>
  							<% end %>
  						</select>
  					</div>
					<div class="form-group col-md-3">
						<label for="inputZip">Zip</label>
						<input id="school_zip" name="school_zip" type="text" class="form-control" placeholder="Zip" minlength="5" maxlength="5" required />
						<div id="msg"> </div>
					</div>
				</div>
				
				<div class="form-row">
					<div class="form-group col-sm-5">
						<label for="first_name">Contact</label>
						<input type="text" class="form-control" placeholder="First name" name="first_name" id="first_name" required />
					</div>

					<div class="form-group col-sm-5">
						<label for="last_name">&nbsp;</label>
						<input type="text" class="form-control" placeholder="Last name" name="last_name" id="last_name" required />
					</div>
				</div>  
				<div class="form row">
					<div class="form-group col-md-12">
						<label for="email">Email</label>
						<input type="email" class="form-control" placeholder="Email" name="email" id="email" required />
					</div>
				</div>
				<div class="form row">
					<div class="form-group col-sm-8">
						<label for="phone">Phone</label>
						<input  type="phone" class="form-control" placeholder="Phone" name="phone" id="phone" required />
					</div>

					<div class="form-group col-sm-3">
						<label for="students"># Students</label>
						<input type="number" class="form-control" name="students" id="students" />
					</div>
				</div>
				<div class="form row">
					<div class="form-group col-md-12">
						<label for="cd_used" id="subject-group">Have you used Career Direction before?</label>
						<div class="controls" style="width: 94px;">
							<select class="form-control" id="cd_used" name="cd_used">
								<option value="We have not used Career Direction before">No</option>
								<option value="We have used Career Direction before">Yes</option>
							</select>
						</div>
					</div>
				    <div class="col-sm-1">
				    </div>
				</div>	
				<br />
				<div class="form row">
					<div class="form-group col-sm-5">
						<input type="submit" id="submit" class="btn btn-primary" value="Submit" />
					</div>
				</div>			  
					  
			  </form>

		  </div>
		  <div class="col-md-5">
			  <p><img src="/img/eCDcover.jpg" class="pic-border" width="100%" /></p>
		  </div>
	  </div>
	</div> <!-- /container -->
</div>



<!-- <script>
	document.getElementById("submit").disabled = true;
	function enableBtn(){
		document.getElementById("submit").disabled = false;
	}
</script> -->
	
<!-- <script>
  function formatPhoneNumber(value) {
    if (!value) return value;
    const phoneNumber = value.replace(/[^\d]/g, '');
    const phoneNumberLength = phoneNumber.length;
    if (phoneNumberLength < 4) return phoneNumber;
    if (phoneNumberLength < 7) {
      return `(${phoneNumber.slice(0, 3)}) ${phoneNumber.slice(3)}`;
    }
    return `(${phoneNumber.slice(0, 3)}) ${phoneNumber.slice(
      3,
      6
    )}-${phoneNumber.slice(6, 9)}`;
  }

  function phoneNumberFormatter() {
    const inputField = document.getElementById('phone');
    const formattedInputValue = formatPhoneNumber(inputField.value);
    inputField.value = formattedInputValue;
  }
</script> -->
	
<!-- <script>
	function isUSAZipCode(str)
	{
	  return /^\d{5}(-\d{4})?$/.test(str);
	}

	function validateInput()
	{
	  console.log("validateInput");
	  let zipCode = document.getElementById("school_zip").value;
	  let message = "";
	  if (isUSAZipCode(zipCode))
	  {
	    message = "Valid Zip Code";
	  } else {
	    message = "Invalid Zip Code";
	  }
	  document.getElementById("msg").innerHTML = message;
	}
</script> -->
		
<!-- <script>
	function formatPhoneNumber(phoneNumberString) {
	  var cleaned = ('' + phoneNumberString).replace(/\D/g, '');
	  var match = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/);
	  if (match) {
	    return '(' + match[1] + ') ' + match[2] + '-' + match[3];
	  }
	  return null;
	}
</script> -->