

	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Helpful Links</h1>
			</div>
			<div class="col-lg-8 half-space under-link">

				<h3>Army National Guard</h3>
				<a href="http://www.nationalguard.com/" target="blank">www.nationalguard.com/</a>
				<p>Learn about the opportunities available to your students through the Army National Guard.</p>
					
				<h3>CareerOneStop</h3>
				<a href="http://www.careeronestop.org" target="blank">www.careeronestop.org</a>
				<p>CareerOneStop is an integrated suite of national web sites that help businesses, job seekers, students, and workforce professionals. CareerOneStop is sponsored by the U.S. Department of Labor.</p>
				 
				<h3>College Savings Plans Network</h3>
				<a href="http://www.collegesavings.org" target="blank">www.collegesavings.org</a>
				<p>All states have created innovative programs to help people pay for the rising costs of higher education. This site has links to your state's college savings program.</p>
 
				<h3>FastWeb</h3>
				<a href="http://fastweb.monster.com" target="blank">fastweb.monster.com</a>
				<P>This site lets students create a personalized profile that can be matched against expansive databases of colleges and scholarships. As one of the most popular free online scholarship matching services, their database has over 600,000 scholarships.</p>
				 
				<h3>FinAid</h3>
				<a href="http://www.finaid.org" target="blank">www.finaid.org</a>
				<P>FinAid is an award-winning site that has grown into one of the most comprehensive annotated collections of information about student financial aid on the Web. Access to FinAid is free.</p>
				 
				<h3>Free Online Assessments</h3>
				<a href="http://www.quintcareers.com/career_assessment.html" target="blank">www.quintcareers.com</a>
				<p>You can provide your students with resources for lots of free Online assessments.</p>
				 
				<h3>Graduate School Considerations for Students</h3>
				<a href="http://www.quintcareers.com/considering_graduate_school.html" target="blank">www.quintcareers.com</a>
				<p>Help your students consider the pros and cons of graduate school.</p>
				 
				<h3>JobStar Central</h3>
				<a href="http://www.jobstar.org" target="blank">www.jobstar.org</a>
				<p>This is a great resource covering resume guidance, salary information, and the hidden (non-advertised) job market.</p>
				 
				<h3>NACE</h3>
				<a href="http://www.naceweb.org" target="blank">www.naceweb.org</a>
				<p>This National Association of Colleges & Employers site offers excellent employment information and tools.</p>
				 
				<h3>Life Balance and How to Attain It</h3>
				<a href="http://www.quintcareers.com/life-balance.html" target="blank">www.quintcareers.com</a>
				<p>This "Quintessential Careers" article has practical ideas for helping you assess where you are in the "balancing act" of life as you look for ways to express your values in your work and in your home. </p>
				 
				<h3>National Campaign to Prevent Teen Pregnancy</h3>
				<a href="https://powertodecide.org" target="blank">powertodecide.org</a>
				<p>This teen-friendly Website is a great resource for teen pregnancy facts and statistics. You can test your knowledge, read what other teens have to say, and even participate in their weekly teen survey.</p>
				 
				<h3>The National Dropout Prevention Center/Network</h3>
				<a href="http://www.dropoutprevention.org/" target="blank">www.dropoutprevention.org</a>
				<p>This resource offers information about effective programs, policies, tools and strategies to increase graduation rates.</p>
				 
				<h3>National Runaway Switchboard</h3>
				<a href="http://www.1800runaway.org" target="blank">www.1800runaway.org</a>
				<p>Call 1-800-RUNAWAY if you are a teenager who is thinking of running from home, if you have a friend who has run and is looking for help, or if you are a runaway ready to go home through our Home Free program.</p>
				 
				<h3>O*NET, the Occupational Information Network</h3>
				<a href="http://online.onetcenter.org/" target="blank">online.onetcenter.org</a>
				<p>A comprehensive database that defines and describes occupations in terms of worker attributes and job characteristics. Developed for the U.S. Department of Labor as the replacement for the Dictionary of Occupational Titles.</p>
				 
				<h3>Occupational Outlook Handbook</h3>
				<a href="http://www.bls.gov/ooh" target="blank">www.bls.gov/ooh</a>
				<p>A nationally recognized source of career information published by the U.S. Department of Labor. The Occupational Outlook Handbook describes what workers do on the job, working conditions, the training and education needed, earnings, and expected job prospects in a wide range.</p>
				 
				<h3>NCADD</h3>
				<a href="http://www.ncadd.org" target="blank">www.ncadd.org</a>
				<p>Site dedicated to fighting the Nation’s #1 health problem – alcoholism, drug addiction and the devastating consequences of alcohol and other drugs on individuals, families and communities.</p>
				 
				<h3>The Princeton Review</h3>
				<a href="http://www.princetonreview.com" target="blank">www.princetonreview.com</a>
				<p>A Web community where you can research thousands of schools and apply online, learn about the SAT, ACT, PSAT, and SAT II and how to improve your score, navigate the financial aid maze, and chat with other students, test experts and admissions officers.</p>
					 
				<h3>Resume Samples</h3>
				<a href="http://workbloom.com/resume/resume-samples.aspx" target="blank">Resume Samples</a>
				<p>A comprehensive list of resume samples from professional resume writers.</p>
				 
				<h3>BigFuture</h3>
				<a href="https://bigfuture.collegeboard.org" target="blank">bigfuture.collegeboard.org</a>
				<p>Collegeboard.com Action Plan for High School Seniors. Great time-lines and planning tools for high school students and their parents.</p>
				
				<h3>Discover Business</h3>
				<a href="https://www.discoverbusiness.us" target="blank">DiscoverBusiness.us - Business Degree and School Guide</a>
				<p>Comprehensive guide designed to help you learn about different business degrees, business schools and career options.</p>
				 
			</div>
			<div class="span3 offset1">
				<!-- <p><img src="../img/ng-site-sample.jpg" class="pic-border" /></p>
				<br />
				<p><img src="../img/onet-site-sample.png" class="pic-border" /></p> -->
			</div>
			</div>
		</div>
	</div> <!-- /container -->
		
