<div class="container">

	<ul class="breadcrumb">
		<li><a href="index">Career Direction 2</a> <span class="divider"> </span> </li>
		<li><a href="steps">Steps to Success</a> <span class="divider"> </span> </li>
		<li><a href="resume" style="color: #9a0000;">Resume Tool</a> <span class="divider"> </span> </li>
		<li><a href="request">Request CD2</a> <span class="divider"> </span> </li>
		<li><a href="feedback">Educator Feedback</a> <span class="divider"> </span> </li>
		<li><a href="resources">Helpful Links</a> <span class="divider"> </span> </li>
	</ul>
		 
</div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Online Resume Tool</h1>
			</div>
			<div class="span6">

				<p class="lead"><strong>Career Direction 2</strong> &nbsp;<em>Job Getting Tools</em> can help your students create resumes and cover letters that will help them "get that job!"</p> 
				<p>Students will need to enter the school's password to access this valuable tool. By completing the online form, they can automatically generate a resume, a cover letter, and even a thank you note for after the interview.</p>
		
				<div class="well">
				
					<form name="verify_school" method="post" action="/resume_service/verify_school.cfm"><input type="hidden" name="StudentType" value="educator">
						<p>Enter your school's password:</p>
						<p><input type="password" name="password" /><input type="submit" name="submit" value="Send &rarr;" align="right" /></p>
					</form>

					<form name="Find_School" method="post" action="mailpass_cd_password.cfm" onSubmit = "return(handleSubmit(this));">

						<h5>Need Your Password?</h5>
						<p>If your students have participated in a <strong>Career Direction 2</strong> class and you do not know your school's password:</p>
						<p>
							<table BORDER="0" CELLPADDING="3" CELLSPACING="0">
								<tr>
									<td align="right">
										School Name:
									</td>
									<td>	
										<input class="textBox1" type="text" name="schoolName" />
									</td>
								</tr>
								<tr>
									<td align="right">
										State:
									</td>
									<td>
										<input class="textBox3" type="text" name="state" maxlength="2" /> ZIP: <input type="text" name="zip" />
									</td>
								</tr>
								<tr>
									<td align="right">
										Email Address:
									</td>
									<td>									
										<input type="text" class="textBox1" name="email">
									</td>
								</tr>
							</table>
							<input align="right" type="submit" name="submit" value="Submit &rarr;" />
						</p>
					</form>
				</div>
			</div>
			<div class="span5 offset1">
				<p><img src="/img/sample-resume.png" class="rotated"</p>
			</div>
			
		</div>
	</div> <!-- /container -->
</div> <!-- /container-white -->
		
