<div class="container">
		  
	<ul class="breadcrumb">
		<li><a href="educator">Career Direction 2</a> <span class="divider"> </span> </li>
		<li class="active"><a href="steps">Steps to Success</a> <span class="divider"> </span> </li>
		<li><a href="resume">Resume Tool</a> <span class="divider"> </span> </li>
		<li><a href="feedback">Educator Feedback</a> <span class="divider"> </span> </li>
		<li><a href="resources">Helpful Links</a> <span class="divider"> </span> </li>
	</ul>
		 
</div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span8">

				<h1>Career Direction 2 Steps To Success</h1>
				<p class="lead">The <strong>Career Direction 2</strong> program meets virtually all mandated career guidance criteria. Each student receives a workbook which is organized into 16 steps:</p>
				
				<ol class="padleft" style="font-weight: 600;">
					<li>What's Important to You</li>
					<li>Understanding Personality Styles</li>
					<li>Career Interests</li>
					<li>Interest + Skill: How ASVAB Can Help</li>
					<li>Online Research</li>
					<li>Additional Training &amp; Education</li>
					<li>Finding a Job</li>
					<li>Resumes: Functional &amp; Chronological</li>
					<li>Cover Letters</li>
					<li>Thank You Letters</li>
					<li>Online Resume Tool Worksheet</li>
					<li>Job Application</li>
					<li>Interview Strategies</li>
					<li>Keeping Your Job</li>
					<li>Decision Making Skills - Personal Responsibility</li>
					<li>Your Plan of Action</li>
				</ol>
				
			</div>
			<div class="span3 offset1">
				<br /><br /><br /><br />
				<p>Somethimg here</p>
			</div>
		</div>
	</div> <!-- /container -->
</div> <!-- /container-white -->
		
