
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Career Direction 2 - Steps To Success</h1>
				
			</div>
			<div class="col-md-6">
				<p class="lead" style="padding-right: 12px;">The <strong>Career Direction 2</strong> program meets virtually all mandated career guidance criteria. Each student receives a workbook which is organized into 16 steps:</p>
				
				<ol class="padleft" style="font-weight: 600;">
					<li>What's Important to You</li>
					<li>Understanding Personality Styles</li>
					<li>Career Interests</li>
					<li>Be Realistic About Your Skills</li>
					<li>Personal Motivation</li>
					<li>Additional Training &amp; Education</li>
					<li>Finding a Job</li>
					<li>Resum&eacute;s: Functional &amp; Chronological</li>
					<li>Cover Letters</li>
					<li>Thank You Letters</li>
					<li>Online Resum&eacute; Tool Worksheet</li>
					<li>Job Application</li>
					<li>Interview Strategies</li>
					<li>Keeping Your Job</li>
					<li>Decision Making Skills - Personal Responsibility</li>
					<li>Your Plan of Action</li>
				</ol>
				
			</div>
			<div class="col-md-6">
				<p><img src="../img/steps.jpg" class="pic-border" width="100%" /></p>
			</div>
		</div>
	</div> <!-- /container -->
		
