
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Career Direction - Steps To Success</h1>
				
			</div>
			<div class="col-md-7">
				<p class="lead" style="padding-right: 12px;">The <strong>Career Direction</strong> program meets virtually all mandated career guidance criteria. Each student receives a workbook which is organized into 16 steps:</p>
				
				<ol style="font-weight: 600; font-size: 1.15em; padding-left: 0; margin-bottom: 2rem;">
					<li style="padding-bottom: 4px;">What's Important to You</li>
					<li style="padding-bottom: 4px;">Understanding Personality Styles</li>
					<li style="padding-bottom: 4px;">Career Interests</li>
					<li style="padding-bottom: 4px;">Be Realistic About Your Skills</li>
					<li style="padding-bottom: 4px;">Personal Motivation</li>
					<li style="padding-bottom: 4px;">Additional Training &amp; Education</li>
					<li style="padding-bottom: 4px;">Finding a Job</li>
					<li style="padding-bottom: 4px;">Resum&eacute;s: Functional &amp; Chronological</li>
					<li style="padding-bottom: 4px;">Cover Letters</li>
					<li style="padding-bottom: 4px;">Thank You Letters</li>
					<li style="padding-bottom: 4px;">Online Resum&eacute; Tool Worksheet</li>
					<li style="padding-bottom: 4px;">Job Application</li>
					<li style="padding-bottom: 4px;">Interview Strategies</li>
					<li style="padding-bottom: 4px;">Keeping Your Job</li>
					<li style="padding-bottom: 4px;">Decision Making Skills - Personal Responsibility</li>
					<li style="padding-bottom: 4px;">Your Plan of Action</li>
				</ol>
				
			</div>
			<div class="col-md-5">
				<p><img src="../img/steps.jpg" class="pic-border" width="100%" /></p>
			</div>
		</div>
	</div> <!-- /container -->
		
