
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Steps To Success</h1>
				
			</div>
			<div class="col-md-7">
				<p class="lead" style="padding-right: 12px;">The <strong><span class="logo-e">e</span>CareerDirection</strong> program meets virtually all mandated career guidance criteria. Each student receives a workbook which is organized into 12 steps:</p>
				
				<ol style="font-weight: 600; font-size: 1.15em; padding-left: 1.6rem; margin-bottom: 2rem;">
					<li style="padding-bottom: 4px;">Your Career Interests</li>
					<li style="padding-bottom: 4px;">What's Important to you?</li>
					<li style="padding-bottom: 4px;">Be Realistic About Your Goals</li>
					<li style="padding-bottom: 4px;">Be Realistic About Your Skills</li>
					<li style="padding-bottom: 4px;">Additional Training &amp; Education</li>
					<li style="padding-bottom: 4px;">Finding a Job</li>
					<li style="padding-bottom: 4px;">Online Resume Tool Worksheet</li>
					<li style="padding-bottom: 4px;">Resumes: Functional &amp; Chronological</li>
					<li style="padding-bottom: 4px;">Cover &amp; Thank You Letters</li>
					<li style="padding-bottom: 4px;">Interview Strategies</li>
					<li style="padding-bottom: 4px;">How To Keep Your Job</li>
					<li style="padding-bottom: 4px;">Your Plan of Action</li>
				</ol>
			
			</div>
			<div class="col-md-5">
				<p><img src="../img/steps.png" class="pic-border" width="100%" /></p>
			</div>
		</div>
	</div> <!-- /container -->
		
