<div class="container">
		  
	<ul class="breadcrumb">
		<li><a href="index">Career Direction 2</a> <span class="divider"> </span> </li>
		<li><a href="steps">Steps to Success</a> <span class="divider"> </span> </li>
		<li><a href="resume">Resume Tool</a> <span class="divider"> </span> </li>
		<li><a href="request">Request CD2</a> <span class="divider"> </span> </li>
		<li><a href="feedback">Educator Feedback</a> <span class="divider"> </span> </li>
		<li><a href="resources">Helpful Links</a> <span class="divider"> </span> </li>
	</ul>
</div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Thanks You for Requesting Career Direction 2</h1>
			</div>
			<div class="span8">
				<p class="lead">A Representative will contact you soon.</p>				
			</div>
			<div class="span4">

			</div>
		</div>
	</div> <!-- /container -->
</div> <!-- /container-white -->
		
