<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1>Interests and Hobbies &nbsp; <small><%= @student.name %></small></h1><br />
			</div>
			<div class="span8 offset2">
				
				<p>Describe an interest or hobby. You can add others after saving.</p>
		
				<form class="form-horizontal" method="post">
					
					<div class="control-group">
						<label class="control-label" for="interest">Interests and Hobbies</label>
						<div class="controls">
							<input type="text" name="interest" id="interest" class="textfield span4" value="<%= @interest.interest %>" />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume/interests/interests">Cancel</a> &nbsp; <% if @student.interests.count > 0 %><a class="btn btn-small btn-warning" href="/student/resume/interests/<%= @interest.id %>/delete">Delete</a><% end %>
						</div>
					</div>
				</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

