	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a href="/student/resume/index" class="btn btn-small pull-right" style="margin-top: 12px;">Resume Tool</a>
				<h1 class="page-header">Interests and Hobbies</h1>
			</div>
			<div class="col-md-8 offset-md-2">

				
				<table class="table table-striped table-condensed">
					<tr>
						<th>Interest or Hobby</th>
						<th><a href="/student/resume/interests/new" class="btn btn-small btn-success pull-right"><i class="icon-plus"></i> New</a></th>
					</tr>
					<% @student.interests.each do |interest| %>
					<tr>
						<td><%= interest.interest %></td>
						<td style="text-align: right;"><span class="btn btn-small"><a href="/student/resume/interests/<%= interest.id %>/edit">Edit</a></span></td>
					</tr>
					<% end %>
				</table>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->
