<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1>Interest &nbsp; <small><%= @student.name %></small></h1><br />
				
				<p><%= @interest.interest %></p>

				<br />
					
				<p><a class="btn btn-success btn-small" href="/student/resume/interests/<%= @interest.id %>/edit">Edit</a> &nbsp; <a class="btn btn-small" href="/student/resume/interests/interests">Index</a> &nbsp; <a class="btn btn-small" href="/student/resume/index">Resume Tool</a></p>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->
