
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a href="/student/resume/index" class="btn btn-small pull-right" style="margin-top: 12px;">Resume Tool</a>
				<h1 class="page-header">Skills</h1>
			</div>
			<div class="col-md-8 offset-md-2">
				
				<p><strong>List four skills.</strong> For each skill list 2 ways you have learned, improved, or used this skill.</p>
				
				<table class="table table-striped table-condensed table-hover">
					<tr>
						<th>Skills</th>
						<th><% if @student.skills.count < 4 %><a href="/student/resume/skills/new" class="btn btn-small btn-success pull-right"><i class="icon-plus"></i> New</a><% end %></th>
					</tr>
					<% @student.skills.each do |skill| %>
					<tr>
						<td><%= skill.skill %></td>
						<td style="text-align: right;"><a href="/student/resume/skills/<%= skill.id %>/edit" class="btn btn-small">Edit</a> &nbsp; <a href="/student/resume/skills/<%= skill.id %>/view" class="btn btn-small">View</a></td>
					</tr>
					<% end %>
				</table>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->
