<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1>Skills &nbsp; <small><%= @student.name %></small></h1><br />
			</div>
			<div class="span8 offset2">
				<p><a href="/student/resume/index" class="btn btn-small">Resum&eacute; Tool</a></p>
				
				<p><% if @student.skills.count < 4 %><a href="/student/resume/skills/new" class="btn btn-small btn-success pull-right"><i class="icon-plus"></i> New</a><% end %><strong>List four skills.</strong> For each skill list 2 ways you have learned, improved, or used this skill.</p>
				
				<table class="table table-striped table-condensed table-hover">
					<tr>
						<th>Skills</th>
						<th> </th>
					</tr>
					<% @student.skills.each do |skill| %>
					<tr>
						<td><%= skill.skill %></td>
						<td style="text-align: right;"><span class="under-link"><a href="/student/resume/skills/<%= skill.id %>/edit">Edit</a></span> &nbsp; <span class="under-link"><a href="/student/resume/skills/<%= skill.id %>/view">View</a></span></td>
					</tr>
					<% end %>
				</table>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->