	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Career Objectives</h1>
			</div>
		</div>
		<div class="row">  
			<div class="col-md-8 offset-md-2">
				
				<p>Please complete the following sentence.</p>
 
				<p>Capitalize words and punctuate as though your answers occur within the middle of a sentence. Be sure to proofread your documents.</p>
 
				<p><strong>Example:</strong> My immediate goal is to work as <abbr title="Position">an administrative assistant</abbr>. This position will help me learn <abbr title="Learn">office procedures</abbr> as I pursue my long-term goal of <abbr title="Long-term goal">earning a college degree in business administration</abbr>.</p>
		
				<form method="post">
					
					<p>
						<strong>My immediate goal is to work as</strong> (the title of the position you are seeking):<br />
						<input type="text" name="goal" id="goal" class="textfield col-md-12" style="margin: 6px 0" value="<%= @objective.goal %>" />
					</p>
					<p >
						<strong>This position will help me learn:</strong><br />
						<input type="text" name="learn" id="learn" class="textfield col-md-12" style="margin: 6px 0" value="<%= @objective.learn %>" />
					</p>
					<p>
						<strong>as I pursue my long-term goal of:</strong><br />
						<input type="text" name="long_goal" id="long_goal" class="textfield col-md-12" style="margin: 6px 0" value="<%= @objective.long_goal %>" />
					</p>
					
					<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume/index">Cancel</a>
					
					</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
