<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1>Career Objectives &nbsp; <small><%= @student.name %></small></h1><br />
			</div>
			<div class="span8 offset2">
				<p><a href="/student/resume/objectives/new" class="btn btn-small btn-success pull-right">New</a>
				<a href="/student/resume/index" class="btn btn-small">Resume Tool</a></p>
				
				<table class="table table-condensed">
					<tr>
						<th>Career Objectives</th>
						<th> </th>
					</tr>
					<% @student.objectives.each do |objective| %>
					<tr>
						<td><%= objective.goal %></td>
						<td style="text-align: right;"><span class="under-link"><a href="/student/resume/objectives/<%= objective.id %>/edit">Edit</a></span></td>
					</tr>
					<% end %>
				</table>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

