	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header"><%= @account.name %> Account Setup</h1>
			</div>
		</div>
			
			<form method='post'>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="name" class="control-label">State</label>
						<input type="text" class="form-control" name="name" id="name" value="<%= @account.name %>" />
				</div>
				<div class="control-group col-md-4">
					<label for="abbr" class="control-label">Abbreviation</label>
						<input type="text" class="form-control col-md-4" name="abbr" id="abbr" value="<%= @account.abbr %>" />
				</div>
			</div>
				<br />
			<div class="form-row">
				<div class="control-group col-md-6">
					<label for="" class="control-label"></label>
					<div class="">
						<input class="btn btn-success" type="submit" value="Save" /> &nbsp;&nbsp; <a class="btn btn-default" href="/accounts/accounts">Cancel</a> &nbsp;&nbsp; <a href="/accounts/<%= @account.id %>/delete" class="btn btn-warning pull-right delete">Delete</a>
					</div>
				</div>

			</form>
			</div>
		</div>
	</div>
</div>