<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Careers and Occupations Guide</h1>
			</div>
			<div class="col-md-8">

				<h6>Georgia Perimeter College<br />Lawrenceville, GA 30043</h6>

				<div class="well sign">
				<h3>This report is for:</h3>
				
		      <form class="cog">
				  <input type="text" class="span3" placeholder="First name">
				  <input type="text" class="span1" placeholder="M.I.">
		        <input type="text" class="span3" placeholder="Last name">
		        

  				<hr />
  				<p class="semi-bold">Please enter the Occupational Category letters corresponding to your highest column totals from your <strong><span class="logo-e">e</span>CD</strong> Inventory (letters A - I). You must enter at least 2 letters to create a report.</p>
				  
			  <input type="text" class="span1" placeholder=""> &nbsp;1st Highest<br />
	        <input type="text" class="span1" placeholder=""> &nbsp;2nd Highest<br />
	        <input type="text" class="span1" placeholder=""> &nbsp;3rd Highest or Tie (if above a score of 3)<br />
				
			  <hr />
		      <button class="btn btn-primary" type="submit">Create Report</button>
		      </form>
				</div>

			 </div>
			<div class="span3 offset1">
				<br /><br /><br /><br />
				<a href="../student/report" class="btn btn-success"><i class="icon-signout"></i> &nbsp;Sign out</a></p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

