<form method="post">
  <fieldset>
    <legend>Create an Account</legend>

    <p>
      <label>Email address</label>
      <input type="text" name="email" id="email" value="<%= params[:email] %>" />
      <% if @errors.include? :email_in_use %>
        <span class="help-inline">That email address is already being used.</span>
      <% end %>
    </p>

    <p>
      <label>Password</label>
      <input type="password" name="password" id="password" value="<%= params[:password] %>" />
    </p>

    <p>
      <label>School Password</label>
      <input type="text" name="school_password" id="school_password" value="<%= params[:school_password] %>" />
      <% if @errors.include? :school_not_found %>
        <span class="help-inline">School not found.</span>
      <% end %>
    </p>

    <p>
      <button type="submit" class="btn btn-primary">Create</button>
    </p>
  </fieldset>
</form>
