<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Careers and Occupations Guide Report</h1>
			</div>
			<div class="span8 offset2">
				<p class="lead">
					<%= params[:school_password] %>
				</p>
				<div class="sign-in" style="margin: 12px 0 32px 0; padding: 48px;">


					<form method="get">
					  <p>
					    Name
					    <input type="text" class="input-medium" name="first_name" id="first_name" />
					    <input type="text" class="input-medium" name="last_name" id="last_name" />
					  </p>
					  <hr />
					  <p>Please enter the Occupational Category letters corresponding to your highest column totals from your Interest Inventory (letters A - I). You must enter at least 2 letters to create a report.</p>
					  <p>
					    
					    <input type="text" class="span1" name="score1" id="score1" /> &nbsp; 1st Highest
					  </p>
					  <p>
					    
					    <input type="text" class="span1" name="score2" id="score2" /> &nbsp; 2nd Highest
					  </p>
					  <p>
					    
					    <input type="text" class="span1" name="score3" id="score3" /> &nbsp; 3rd Highest or Tie (if above a score of 3)
					  </p>
					  <p>
					    <input type="submit" class="btn btn-success" value="Show Report" />
					  </p>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>