<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Careers and Occupations Guide Report</h1>
			</div>
			<div class="span8 offset2">
				<p class="lead">
					<%= @school.school_name %>
				</p>
				<div class="sign-in" style="margin: 12px 0 32px 0; padding: 48px;">


					<form method="get">
					  <p>
					    Name
					    <input type="text" class="input-medium" name="first_name" id="first_name" />
					    <input type="text" class="input-medium" name="last_name" id="last_name" />
					  </p>
					  <hr />
					  <p>Please enter the Occupational Category letters corresponding to your highest column totals from your Interest Inventory (letters A - I). You must enter at least 2 letters to create a report.</p>
					  <p>
						  <select type="text" class="span1" name="score1" id="score1" style="text-align: center;" >
						    <option></option>
							 <option>a</option>
						    <option>b</option>
						    <option>c</option>
						    <option>d</option>
						    <option>e</option>
						    <option>f</option>
						    <option>g</option>
						    <option>h</option>
						    <option>i</option>
						  </select>
					     &nbsp; 1st Highest
					  </p>
					  <p>
						  <select type="text" class="span1" name="score2" id="score2" style="text-align: center;" >
						    <option></option>
							 <option>a</option>
						    <option>b</option>
						    <option>c</option>
						    <option>d</option>
						    <option>e</option>
						    <option>f</option>
						    <option>g</option>
						    <option>h</option>
						    <option>i</option>
						  </select>
					     &nbsp; 2nd Highest
					  </p>
					  <p>
						  <select type="text" class="span1" name="score3" id="score3" style="text-align: center;" >
						    <option></option>
							 <option>a</option>
						    <option>b</option>
						    <option>c</option>
						    <option>d</option>
						    <option>e</option>
						    <option>f</option>
						    <option>g</option>
						    <option>h</option>
						    <option>i</option>
						  </select>
					     &nbsp; 3rd Highest or Tie (if above a score of 3)
					  </p>
					  <p>
					    <input type="submit" class="btn btn-success" value="Show Report" />
					  </p>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>
