<form method="get">
  <p>
    Name
    <input type="text" name="first_name" id="first_name" />
    <input type="text" name="last_name" id="last_name" />
  </p>
  <p>
    Score 1
    <input type="text" name="score1" id="score1" />
  </p>
  <p>
    Score 2
    <input type="text" name="score2" id="score2" />
  </p>
  <p>
    Score 3
    <input type="text" name="score3" id="score3" />
  </p>
  <p>
    <input type="submit" value="Find Report" />
  </p>
</form>