	<div class="container">	
		<div class="row"> 
			<div class="col-md-12"> 
				<h1 class="page-header">Student Feedback</h1>
			</div>
			<div class="col-md-8">
			
				<blockquote><i class="icon-quote-left"></i> This program has brightened my future. Because of this program, I now know where to rely for help. Thank you for your time and dedication.<br />
				<small>Student, Hanson High School, SD</small>
				</blockquote>

				<blockquote><i class="icon-quote-left"></i> This program has helped me learn a little more about the area I want to work in. This Web site is an educational and helpful site!<br />
				<small>Student, Wilmot Union High School, WI</small>
				</blockquote>

				<blockquote><i class="icon-quote-left"></i> I always thought I had wanted to be a teacher. I never really thought about other options. I never would have even thought about half of the things I could do with my future. Thank you so much for this website.<br />
				<small>Student, Marshfield Senior High School, WI</small>
				</blockquote>

				<blockquote><i class="icon-quote-left"></i> I love it! I never had a clue as to what I might want to be. This program has helped me know what fields I'm interested in. Every school should be using this program, maybe even people attending college during their first two years. I have tried searching for jobs in the past, but this program seemed to be the answer for my battle of searching for a job.<br />
				<small>Student, Bob Jones High School, AL</small>
				</blockquote>

				<blockquote><i class="icon-quote-left"></i> This program has opened my eyes to all the possibilities out there. I have gained more confidence and plan to use this info to achieve all my goals.<br />
				<small>Student, Susan Moore High School, Blountsville, AL</small>
				</blockquote>

				<blockquote><i class="icon-quote-left"></i> The SGT that was at my school was very informative and fun to work with. I'm looking forward to the program next year!<br />
				<small>Student, White Castle High, LA</small>
				</blockquote>

				<blockquote><i class="icon-quote-left"></i> I learned that staying in school is very important to getting a successful career that's right for me and not just a paycheck.<br />
				<small>Student, Brookland-Cayce High School, SC</small>
				</blockquote>

				<blockquote><i class="icon-quote-left"></i> This program has helped me figure out what I plan on doing with my life after I get out of high school. It also helped me see the classes I should be taking to help me reach my goal.<br />
				<small>Student, Stadium High School, Tacoma, WA</small>
				</blockquote>

				<blockquote><i class="icon-quote-left"></i> I love this Website! It helps students find out how to get where they want to be!<br />
				<small>Student, Bledsoe County HS, TN</small>
				</blockquote>

				<blockquote><i class="icon-quote-left"></i> It definitely helped me. Now I know exactly what courses I should take next school year.<br />
				<small>Student, Palm Beach Central High School, FL</small>
				</blockquote>

				<blockquote><i class="icon-quote-left"></i> This program helped me to better understand the careers I am interested in. The job suggestions were more on target than any other career test results I have received. The slide show contained interesting facts such as the tuition for colleges and information on how much more money you can make if you take the time to go to college and earn a degree.<br />
				<small>Student, Kirtland High School, OH</small>
				</blockquote>
				
			</div>
			<div class="col-md-3 offset-md-1">
				<hr style="border: none; border-top: 4px solid #1abd9c; padding-bottom: 18px;"/>
				<p class="lead"><i class="icon-quote-left"></i> I learned that staying in school is very important to getting a successful career that's right for me and not just a paycheck.</p>
				<hr style="border: none; border-top: 4px solid #1abd9c; margin-top: 24px;"/>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->

