<div class="container">
	<ul class="breadcrumb">
		<li><a href="student">Career Direction 2</a> <span class="divider"> </span> </li>
		<li class="active"><a href="report">Student Report</a> <span class="divider"> </span> </li>
		<li><a href="resume_tool">Resume Tool</a> <span class="divider"> </span> </li>
		<li><a href="feedback">Student Feedback</a> <span class="divider"> </span> </li>
		<li><a href="resources">Helpful Links</a> <span class="divider"> </span> </li>
	</ul>
</div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Student Reports</h1>
			</div>
			<div class="span8">
				<p class="lead"><strong>Career Direction 2</strong> Reports can help you start working toward your career success today!</p> 
				<p>The <span class="semi-bold">Careers and Occupations Guide Reports</span> will give you suggestions for courses to take, extra-curricular activities to participate in, part-time jobs and internships, as well as, career possibilities that are well-suited to your interests.</p>
				<p>By entering your school's password, you can create your own personalized academic and career planning report.</p>
	   
				<div class="well sign">
					<h6>Careers and Occupations Guide Reports</h6>
					<form method="post">
						<div class="control-group">
							<label class="control-label" for="password">Enter your school&rsquo;s password</label>
							<div class="controls">
								<input type="password" class="input-xlarge" id="password" name="password" /> <input class="btn btn-small" type="submit" value="Sign in" />
							</div>
						</div>
					</form>
					<p><small>If you are a student and you do not know your school&rsquo;s password, please contact your guidance counselor or teacher.</small></p>

				</div>
				<a href="../cog/cog_admin">This goes to the cog admin page for now</a>
				
			</div>
			<div class="span3 offset1">
				<p>Sample here</p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

