
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Your Career</h1>
			</div>
			<div class="col-md-7">
				<p class="lead"><em>e</em><span style="font-weight: 900;">CareerDirection Reports</span> can help you start working toward your career success today!</p> 
				<p>The Careers and Occupations Guide Reports will give you suggestions for courses to take, extra-curricular activities to participate in, part-time jobs and internships, as well as, career possibilities that are well-suited to your interests. You can create your own personalized academic and career planning report.</p>
				
					<p class="lead"><em>e</em><span style="font-weight: 900;">CareerDirection Online Resum&eacute; Tool</span> can help you create a resum&eacute; and cover letter that will help you &ldquo;get that job!&rdquo;</p>
					<p>By completing the online form, you can automatically generate:</p>
					<ul class="padleft">
						<li>resum&eacute;</li>
						<li>cover letters and thank you notes for after your interview</li>
						<li>references</li>
					</ul>
					
					
					
	   
				<div class="sign-in" style="padding: 18px 32px; margin: 48px 0;">
					<h6>Student Account</h6>
					<div style="padding-right: 18px; float: left; border-right: 1px solid #b2b5bc;">
						<% unless session[:student] %>
						<p>New user</p>
						<p><a href="/student/reports/create" class="btn btn-primary">Create an account</a></p>
						<% else %>
						<p>You are signed in</p>
						<p><a href="/student/reports/signin" class="btn btn-success">Create Report</a></p>
						<% end %>
					</div>
					<div style="margin-left: 184px;">
						<% unless session[:student] %>
						<p>Existing user</p>
						<p><a href="/student/reports/signin" class="btn btn-primary"><i class="icon-signin"></i> &nbsp;Sign in</a></p>
						<% else %>
						<p>You are signed in</p>
						<p><a href="/student/resume/signin" class="btn btn-success">Resume Tool</a></p>
						<% end %>
					</div>
					
					<% if session[:student] %>
					<br />
			
					<p style="line-height: 15px;"><a style="margin: 5px 24px 20px 0;" class="btn btn-mini btn-secondary pull-left" href="/student/resume/sign-out">&nbsp;&nbsp;<i class="icon-signout"> </i> &nbsp;Sign out&nbsp;&nbsp;</a>
					<strong>PROTECT YOUR PRIVACY.</strong>
					<small>If you are using a public or shared device <strong>sign out</strong> when finished.</small></p>
					<% end %>
				</div>
				
				
				<!-- <div class="sign-in" style="padding: 32px; margin: 48px 0;">
					<h6>Careers and Occupations Guide Reports</h6>
					<form method="post">
						<div class="control-group">
							<label class="control-label" for="password">Enter your school&rsquo;s password</label>
							<div class="controls">
								<input type="password"  class="input-medium search-query" id="password" name="password" /> &nbsp; <input class="btn btn-success btn-small" type="submit" value="Sign in" />
							</div>
						</div>
					</form>
					<p><small>If you are a student and you do not know your school&rsquo;s password, please contact your guidance counselor or teacher.</small></p>

				</div> -->				
			</div>
			<div class="col-md-5">
				<p style="width: 90%; float: right;"><img src="/img/student-report.jpg" width="100%" class="pic-border"></p>
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->

