<div class="container">
	<ul class="breadcrumb">
		<li><a href="student">Career Direction 2</a> <span class="divider"> </span> </li>
		<li class="active"><a href="report">Student Report</a> <span class="divider"> </span> </li>
		<li><a href="resume">Resume Tool</a> <span class="divider"> </span> </li>
		<li><a href="feedback">Student Feedback</a> <span class="divider"> </span> </li>
		<li><a href="resources">Helpful Links</a> <span class="divider"> </span> </li>
	</ul>
</div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span8">
				<h1>Student Reports</h1>
				<p><strong>Career Direction 2</strong> Reports can help you start working toward your career success today! The Careers and Occupations Guide Reports will give you suggestions for courses to take, extra-curricular activities to participate in, part-time jobs and internships, as well as, career possibilities that are well-suited to your interests.</p>
				<p>By entering your school's password, you can create your own personalized academic and career planning report.</p>
	   
				<div class="well">
					<h3>Need help?</h3>
					<p>If you are a student and you do not know your school's password, please contact your guidance counselor or teacher.</p>
				</div>

				<p><strong>Note:</strong> School passwords never expire. Privacy laws protect all student data.</p>
				
			</div>
			<div class="span3 offset1">
				<br /><br /><br /><br />
				<p>Sample here</p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

