
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Student Reports</h1>
			</div>
			<div class="col-md-7">
				<p class="lead"><strong>Career Direction 2</strong> Reports can help you start working toward your career success today!</p> 
				<p>The <span class="semi-bold">Careers and Occupations Guide Reports</span> will give you suggestions for courses to take, extra-curricular activities to participate in, part-time jobs and internships, as well as, career possibilities that are well-suited to your interests.</p>
				<p>By entering your school's password, you can create your own personalized academic and career planning report.</p>
	   
				<div class="sign-in" style="padding: 18px 32px; margin: 48px 0;">
					<h6>Student Report</h6>
					<div style="padding-right: 18px; float: left; border-right: 1px solid #b2b5bc;">
						<p>New user</p>
						<p><a href="/student/reports/create" class="btn btn-primary">Create an account</a></p>
					</div>
					
					
					<div style="margin-left: 184px;">
						<% unless session[:student] %>
						<p>Already have an account</p>
						<p><a href="/student/reports/signin" class="btn btn-success"><i class="icon-signin"></i> &nbsp;Sign in</a></p>
						<% else %>
						<p>You are already signed in</p>
						<p><a href="/student/reports/signin" class="btn btn-success">Create Report</a></p>
						<% end %>
					</div>
					
					
					<p style="clear: both; padding-top: 12px;">You will need your school's password to create a new account. If you do not know your school’s password, please contact your guidance counselor or teacher.</p> 
				</div>
				
				
				
				<!-- <div class="sign-in" style="padding: 32px; margin: 48px 0;">
					<h6>Careers and Occupations Guide Reports</h6>
					<form method="post">
						<div class="control-group">
							<label class="control-label" for="password">Enter your school&rsquo;s password</label>
							<div class="controls">
								<input type="password"  class="input-medium search-query" id="password" name="password" /> &nbsp; <input class="btn btn-success btn-small" type="submit" value="Sign in" />
							</div>
						</div>
					</form>
					<p><small>If you are a student and you do not know your school&rsquo;s password, please contact your guidance counselor or teacher.</small></p>

				</div> -->				
			</div>
			<div class="col-md-5">
				<p style="width: 90%; float: right;"><img src="/img/student-report.jpg" width="100%" class="pic-border"></p>
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->

