

	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Helpful Links</h1>
			</div>
			<div class="col-md-8 half-space under-link">

				<h3>Army National Guard</h3>
				<a href="http://www.NationalGuard.com" target="blank">www.NationalGuard.com</a>
				<p>Learn about education and training assistance programs available through the National Guard.</p> 
				
				<h3>CareerOneStop</h3>
				<a href="http://www.careeronestop.org" target="blank">www.careeronestop.org</a>
				<p>CareerOneStop is an integrated suite of national web sites that help businesses, job seekers, students, and workforce professionals. CareerOneStop is sponsored by the U.S. Department of Labor.</p>
				 
				<h3>College Savings Plans Network</h3>
				<a href="http://www.collegesavings.org" target="blank">www.collegesavings.org</a>
				<p>All states have created innovative programs to help people pay for the rising costs of higher education. This site has links to your state's college savings program.</p>
 
				<h3>FastWeb</h3>
				<a href="http://fastweb.monster.com" target="blank">fastweb.monster.com</a>
				<P>This site lets students create a personalized profile that can be matched against expansive databases of colleges and scholarships. As one of the most popular free online scholarship matching services, their database has over 600,000 scholarships.</p>
				 
				<h3>FinAid</h3>
				<a href="http://www.finaid.org" target="blank">www.finaid.org</a>
				<P>FinAid is an award-winning site that has grown into one of the most comprehensive annotated collections of information about student financial aid on the Web. Access to FinAid is free.</p>
				 
				<h3>Free Online Assessments</h3>
				<a href="http://www.quintcareers.com/career_assessment.html" target="blank">www.quintcareers.com</a>
				<p>Students can access free online self-assessments related to career planning.</p>
				 
				<h3>Graduate School Considerations for Students</h3>
				<a href="http://www.quintcareers.com/considering_graduate_school.html" target="blank">www.quintcareers.com</a>
				<p>Helps students consider the pros and cons of graduate school.</p>
				 
				<h3>JobStar Central</h3>
				<a href="http://www.jobstar.org" target="blank">www.jobstar.org</a>
				<p>This is a great resource covering resume guidance, salary information, and the hidden (non-advertised) job market.</p>
				 
				<h3>NACE</h3>
				<a href="http://www.naceweb" target="blank">www.naceweb</a>
				<p>The National Association of Colleges and Employers offers excellent employment information and tools.</p>
				 
				<h3>Life Balance and How to Attain It</h3>
				<a href="http://www.quintcareers.com/life-balance.html" target="blank">www.quintcareers.com</a>
				<p>This "Quintessential Careers" article has practical ideas for helping you assess where you are in the "balancing act" of life as you look for ways to express your values in your work and in your home. </p>
				 
				<h3>Mapping Your Future</h3>
				<a href="http://www.mapping-your-future.org/parents/" target="blank">www.mapping-your-future.org</a>
				<p>The Mapping-Your-Future Web site has links to help students and parents explore post high school education options.</p>
				 
				<h3>National Campaign to Prevent Teen Pregnancy</h3>
				<a href="https://powertodecide.org" target="blank">powertodecide.org</a>
				<p>This teen-friendly Website is a great resource for teen pregnancy facts and statistics. You can test your knowledge, read what other teens have to say, and even participate in their weekly teen survey.</p>
				 
				<h3>National Runaway Switchboard</h3>
				<a href="http://www.1800runaway.org" target="blank">www.1800runaway.org</a>
				<p>Call 1-800-RUNAWAY if you are a teenager who is thinking of running from home, if you have a friend who has run and is looking for help, or if you are a runaway ready to go home through our Home Free program.</p>
				 
				<h3>O*NET, the Occupational Information Network</h3>
				<a href="http://online.onetcenter.org/" target="blank">online.onetcenter.org</a>
				<p>A comprehensive database that defines and describes occupations in terms of worker attributes and job characteristics. Developed for the U.S. Department of Labor as the replacement for the Dictionary of Occupational Titles.</p>
				 
				<h3>Occupational Outlook Handbook</h3>
				<a href="http://www.bls.gov/ooh" target="blank">www.bls.gov/ooh</a>
				<p>A nationally recognized source of career information published by the U.S. Department of Labor. The Occupational Outlook Handbook describes what workers do on the job, working conditions, the training and education needed, earnings, and expected job prospects in a wide range of career fields.</p>

				<h3>Prep for the Top 10 Interview Questions</h3>
				<a href="http://career-advice.monster.com/job-interview-practice/Prep-for-the-Top-10-Interview-Quest/home.aspx" target="blank">career-advice.monster.com</a>
				<p>Monster.com reveals the reasons behind commonly asked interview questions, so your answers will be right on target to get that job!</p>
				 
				<h3>NCADD</h3>
				<a href="http://www.ncadd.org" target="blank">www.ncadd.org</a>
				<p>Site dedicated to fighting alcoholism, drug addiction and the devastating consequences of alcohol and other drugs on individuals, families and communities.<p>
				 
				<h3>The Princeton Review</h3>
				<a href="http://www.princetonreview.com" target="blank">www.princetonreview.com</a>
				<p>A Web community where you can research thousands of schools and apply online, learn about the SAT, ACT, PSAT, and SAT II and how to improve your score, navigate the financial aid maze, and chat with other students, test experts and admissions officers.</p>

				<h3>Resume Samples</h3>
				<a href="http://workbloom.com/resume/resume-samples.aspx" target="blank">Resume Samples</a>
				<p>A comprehensive list of resume samples from professional resume writers.</p>
				 
				<h3>Starting Point</h3>
				<a href="http://www.collegeboard.com/article/0,,2-9-0-23719,00.html" target="blank">www.collegeboard.com</a>
				<p>Great time-lines and planning tools for high school students and their parents.</p>
				
			</div>
			<div class="col-md-3 offset-md-1">
				<!-- <p><img src="../img/ng-site-sample.png" class="pic-border" /></p>
				<br />
				<p><img src="../img/onet-site-sample.png" class="pic-border" /></p> -->
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->

