<div class="container">
	<ul class="breadcrumb">
		<li><a href="student">Career Direction 2</a> <span class="divider"> </span> </li>
		<li><a href="report">Student Report</a> <span class="divider"> </span> </li>
		<li><a href="resume_tool" style="color: #9a0000;">Resum&eacute; Tool</a> <span class="divider"> </span> </li>
		<li><a href="feedback">Student Feedback</a> <span class="divider"> </span> </li>
		<li><a href="resources">Helpful Links</a> <span class="divider"> </span> </li>
	</ul>
</div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Online Resum&eacute; Tool</h1>
			</div>
			<div class="span7">
				<p class="lead"><strong>Career Direction 2</strong> &nbsp;<em>Job Getting Tools</em> can help you create a resum&eacute; and cover letter that will help you &ldquo;get that job!&rdquo;</p>
				<p>You will need to enter your school&rsquo;s password to access this valuable tool. By completing the online form, you can automatically generate:</p>
				<ul class="padleft">
					<li>resum&eacute;</li>
					<li>cover letters and thank you notes for after your interview</li>
					<li>references</li>
				</ul>
				
				<div class="sign-in" style="padding: 18px 32px; margin: 48px 0;">
					<h6>Resum&eacute; Tool</h6>
					<div style="padding-right: 18px; float: left; border-right: 1px solid #b2b5bc;">
						<p>New user</p>
						<p><a href="/student/resume/create" class="btn btn-success">Create an account</a></p>
					</div>
					<div style="margin-left: 184px;">
						<p>Already have an account</p>
						<p><a href="/student/resume/signin" class="btn btn-success"><i class="icon-signin"></i> &nbsp;Sign in</a></p>
					</div>
					
					<p style="clear: both; padding-top: 12px;"><small>You will need your school's password to create a new account. If you do not know your school’s password, please contact your guidance counselor or teacher.</small></p> 
				</div>
			</div>
			<div class="span5">
				<p style="margin-left: 24px;"><img src="/img/sample-resume.png" class="rotated"</p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

