<div class="container">
	<ul class="breadcrumb">
		<li><a href="student">Career Direction 2</a> <span class="divider"> </span> </li>
		<li><a href="report">Student Report</a> <span class="divider"> </span> </li>
		<li class="active"><a href="resume">Resume Tool</a> <span class="divider"> </span> </li>
		<li><a href="feedback">Student Feedback</a> <span class="divider"> </span> </li>
		<li><a href="resources">Helpful Links</a> <span class="divider"> </span> </li>
	</ul>
</div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Online Resume Tool</h1>
			</div>
			<div class="span8">
				<p class="lead"><strong>Career Direction 2</strong> &nbsp;<em>Job Getting Tools</em> can help you create a resume and cover letter that will help you &ldquo;get that job!&rdquo;</p>
				<p>You will need to enter your school&rsquo;s password to access this valuable tool. By completing the online form, you can automatically generate:</p>
				<ul class="padleft">
					<li>resume</li>
					<li>cover letters</li>
					<li>thank you notes for after your interview.</li>
				</ul>
				
				<div class="well sign">
					<h6>Resume Tool</h6>
					<div class="span3">
						<p>New user<br />
						<a href="../resume/create" class="btn btn-success">Create an account</a></p>
					</div>
					<div class="span3" style="border-left: 1px solid silver; padding-left: 36px;">
						<p>Already have an account<br />
						<a href="../resume/signin" class="btn btn-success"><i class="icon-signin"></i> &nbsp;Sign in</a></p>
					</div>
					
					<p style="clear: both;"><br /><small>You will need your school's password to create a new account. If you do not know your school’s password, please contact your guidance counselor or teacher.</small></p> 
				</div>
			</div>
			<div class="span3 offset1">
				<p>Samples here</p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

