<div class="container">
	<ul class="breadcrumb">
		<li><a href="student/student">Career Direction 2</a> <span class="divider"> </span> </li>
		<li><a href="student/report">Student Report</a> <span class="divider"> </span> </li>
		<li class="active"><a href="student/resume">Resume Tool</a> <span class="divider"> </span> </li>
		<li><a href="student/feedback">Student Feedback</a> <span class="divider"> </span> </li>
		<li><a href="student/resources">Helpful Links</a> <span class="divider"> </span> </li>
	</ul>
</div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span8">
				<h1>Online Resume Tool</h1>
		
				<p><strong>Career Direction</strong> <em>Job Getting Tools</em> can help you create a resume and cover letter that will help you "get that job!" You will need to enter your school's password to access this valuable tool. By completing the online form, you can automatically generate:</p>
				<ul>
					<li>resume</li>
					<li>cover letters</li>
					<li>thank you notes for after your interview.</li>
				</ul>
				
			</div>
			<div class="span3 offset1">
				<br /><br /><br /><br />
				<p>Samples here</p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

