<div class="container">
	<ul class="breadcrumb">
		<li><a href="student">Career Direction 2</a> <span class="divider"> </span> </li>
		<li><a href="report">Student Report</a> <span class="divider"> </span> </li>
		<li class="active"><a href="resume">Resume Tool</a> <span class="divider"> </span> </li>
		<li><a href="feedback">Student Feedback</a> <span class="divider"> </span> </li>
		<li><a href="resources">Helpful Links</a> <span class="divider"> </span> </li>
	</ul>
</div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span8">
				<h1>Online Resume Tool</h1>
		
				<p class="lead"><strong>Career Direction 2</strong> &nbsp;<em>Job Getting Tools</em> can help you create a resume and cover letter that will help you &ldquo;get that job!&rdquo;</p>
				<p>You will need to enter your school&rsquo;s password to access this valuable tool. By completing the online form, you can automatically generate:</p>
				<ul class="padleft">
					<li>resume</li>
					<li>cover letters</li>
					<li>thank you notes for after your interview.</li>
				</ul>
				<div class="well sign">
					<h6>Resume Tool</h6>
					<form method="post">
						<div class="control-group">
							<label class="control-label" for="password">Enter your school&rsquo;s password</label>
							<div class="controls">
								<input type="password" class="input-xlarge" id="password" name="password" /> <input class="btn btn-small" type="submit" value="Send" />
							</div>
						</div>
					</form>
					<p><small>If you are a student and you do not know your school&rsquo;s password, please contact your guidance counselor or teacher.</small></p>

				</div>
			</div>
			<div class="span3 offset1">
				<br /><br /><br /><br />
				<p>Samples here</p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

