<div class="container">
	<ul class="breadcrumb">
		<li><a href="student" style="color: #9a0000;">Career Direction 2</a> <span class="divider"> </span> </li>
		<li><a href="report">Student Report</a> <span class="divider"> </span> </li>
		<li><a href="resume_tool">Resum&eacute; Tool</a> <span class="divider"> </span> </li>
		<li><a href="feedback">Student Feedback</a> <span class="divider"> </span> </li>
		<li><a href="resources">Helpful Links</a> <span class="divider"> </span> </li>
	</ul>
</div>

<div class="container-white">
	<div class="container">	
		<div class="row"> 
			<div class="span12"> 
				<h1 class="page-header">Career Direction 2</h1>
			</div>
			<div class="span8">
				<p class="lead">It is not easy selecting a career. In fact, your career, education and training, and lifestyle decisions are some of the most important decisions you will ever make!</p>
				<p>The <strong>Career Direction 2</strong> workshop will help you:</p>
				<ul class="padleft">
					<li>Consider four key career components - Interest, Priorities, Abilities, and Personality - as they relate to your career enjoyment and success.</li>
					<li>Learn which training and education path will best prepare you for the career you desire. You will also learn how to compute the cost of your education and training, and where you can get financial aid.</li>
					<li>Gain practical job-getting skills: how to write a resume and cover letter, how to interview successfully and follow-up effectively to &ldquo;get that job!&rdquo;</li>
					<li>Avoid potential career blockers that can de-rail your chances of success.</li>
					<li>Create your personal plan of action for career success!</li>
					<li>You can choose our &ldquo;Student Reports&rdquo; option to create your personalized <em>Careers and Occupations Guide Reports</em> based on your interests.</li>
					<li>You can also choose &ldquo;Resum&eacute; Tool&rdquo; to create and store a resume online, as well as write cover letters to potential employers.</li>
				</ul>
			</div>
			<div class="span4">
				<p><img src="../img/cd2-cover-clean.jpg" class="pic-border" /></p>
				<p><a href="../img/CD2sample.pdf" target="blank" class="btn btn-small">View Sample</a></p>
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

