
	<div class="container">	
		<div class="row"> 
			<div class="col-md-12"> 
				<h1 class="page-header"><img src="/img/eCareerDirection-logo-black.svg" width="275px" style="margin-top: -6px;"></h1>
			</div>
			<div class="col-md-8">
				<p class="lead">It is not easy selecting a career. In fact, your career, education and training, and lifestyle decisions are some of the most important decisions you will ever make!</p>
				<h5>The <strong><span class="logo-e">e</span>CareerDirection</strong> workshop will help you:</h5>
				<ul class="padleft">
					<li>Consider key career components - Priorities, interests, Abilities, Personality, and Personal Motivation - as they relate to your career enjoyment and success.</li>
					<li>Learn which training and education path will best prepare you for the career you desire. You will also learn how to compute the cost of your education and training, and where you can get financial aid.</li>
					<li>Gain practical job-getting skills: how to write a resume and cover letter, how to interview successfully and follow-up effectively to &ldquo;get and keep a job!&rdquo;</li>
					<li>Avoid potential career blockers that can de-rail your chances of success.</li>
					<li>Create your personal plan of action for career success!</li>
					<li>You can choose our &ldquo;Student Reports&rdquo; option to create your personalized <em>Careers and Occupations Guide Reports</em> based on your interests.</li>
					<li>You can also choose our &ldquo;Resume Tool&rdquo; to create and store a resume online, as well as write cover letters to potential employers.</li>
				</ul>
			</div>
			<div class="col-md-4">
				<p><img src="../img/eCDcover.jpg" class="pic-border" width="100%" /></p>
				<p><a href="/img/sample-temp.pdf" target="blank" class="btn btn-small">View Sample</a></p>
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->

