<div class="container">	
	<div class="row">
		<div class="col-md-12">
			<h6>Subtest Item</h6>
			<form method='post'>
			<div class="control-group">
				<label for="items" class="span2 control-label">Items</label>
				<div class="span5">
					<input type="text" class="form-control col-md-4" name="items" id="items" value="<%= @subtest.items %>" />
				</div>
			</div>
			<div class="control-group">
				<label for="" class="span2 control-label"></label>
				<div class="col-md-4">
					<input class="btn btn-small btn-success" type="submit" value="Save" /> &nbsp; <a class="btn btn-default btn-small" href="/subtests/subtests">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</div> <!-- /row -->
</div> <!-- /container -->






				