<div class="container">

</div>

<div class="container-white">
	<div class="container">	
		<div class="row"> 
			<div class="col-md-12" style="margin: 120px 0; text-align: center;">
				<h5>Your password has been sent to the email associated with your account.</h5>
				<br /><br />
				<a href="/student/reports/signin" class="btn btn-nimi btn-primary">Continue</a>
			</div>	
		</div>
	</div>
</div>
