<div class="container">

</div>

<div class="container-white">
	<div class="container">	
		<div class="row"> 
			<div class="span5 offset3">
				<div class="sign-in" style="padding: 32px; margin: 48px 0;">
				<form method="post">
	  			 <fieldset>
			    	<h1>Password Reset</h1>
					<p>Please enter the email address associated with your account. Your password will be emailed to this address.</p>
			    	<p>
				      <label>Email Address - <small style="color: #808080;">Case sensitive</small></label>
				      <input type="text" name="email" id="email" class="input-xlarge col-md-4" placeholder="Email Address" value="<%= params[:email] %>" />
					</p>
				   <p>
				      <button type="submit" class="btn btn-primary">Send</button> <a href="/student/reports/signin" style="margin-right: 15px;" class="btn pull-right">Cancel</a>
				    </p>
				  </fieldset>
				</form>
			</div>
			</div>	
		</div>
	</div>
</div>
