<div class="container">

</div>

<div class="container-white">
	<div class="container">	
		<div class="row"> 
			<div class="span5 offset3">
				<div class="sign-in" style="padding: 32px; margin: 48px 0;">
				<form method="post">
	  			 <fieldset>
			    	<h1>Sign In</h1>

			    	<p>
				      <label>Email Address - <small style="color: #808080;">Case sensitive</small></label>
				      <input type="text" name="email" id="email" class="input-xlarge span4" placeholder="Email Address" value="<%= params[:email] %>" />
				      <% if @errors.include? :email_not_found %>
				        <span class="help-inline">That email address isn't in our system. Maybe you need to <a href="/student/resume/create">create an account</a>.</span>
				      <% end %>
				    </p>

				    <p>
				      <label>Personal Password - <small style="color: #808080;">Case sensitive</small></label>
				      <input type="password" name="password" id="password" placeholder="Personal Password" class="input-xlarge span4" value="<%= params[:password] %>" />
				      <% if @errors.include?(:password_not_matched) && !@errors.include?(:email_not_found) %>
				        <span class="help-inline">Wrong password.</span>
				      <% end %>
				    <!-- <small><a href="/student/resume/reset">Forget your password?</small></p> -->
				    <p>
				      <button type="submit" class="btn btn-primary">Sign In</button> <a href="/student/resume_tool" style="margin-right: 15px;" class="btn pull-right">Cancel</a>
				    </p>
				  </fieldset>
				</form>
			</div>
			</div>	
		</div>
	</div>
</div>
