<div class="container">

</div>

<div class="container-white">
	<div class="container">	
		<div class="row"> 
			<div class="span5 offset3">
				<div class="sign-in" style="padding: 32px; margin: 48px 0;">
				<form method="post">
	  			 <fieldset>
			    	<h1>Sign In</h1>

			    	<p>
				      <label>Email address</label>
				      <input type="text" name="email" id="email" class="input-xlarge" value="<%= params[:email] %>" />
				      <% if @errors.include? :email_not_found %>
				        <span class="help-inline">That email address isn't in our system. Maybe you need to <a href="/student/resume/create">create an account</a>.</span>
				      <% end %>
				    </p>

				    <p>
				      <label>Password</label>
				      <input type="password" name="password" id="password" class="input-xlarge" value="<%= params[:password] %>" />
				      <% if @errors.include?(:password_not_matched) && !@errors.include?(:email_not_found) %>
				        <span class="help-inline">Wrong password.</span>
				      <% end %>
				    </p>

				    <p>
				      <button type="submit" class="btn btn-primary">Sign In</button>
				    </p>
				  </fieldset>
				</form>
			</div>
			</div>	
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->
