<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span10 offset1">
				
				<p><a href="/student/resume" class="btn btn-success pull-right"><i class="icon-signout"></i> &nbsp;Sign out</a></p>
			<h1 class="page-header">Online Resume Tool</h1>
		
				<table class="table table-striped table-condensed table-hover">
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Password</th>
						<th style="text-align: center;" width="30px">Edit</th>
					</tr>
					<% @student.each do |student| %>
					<tr>
						<td><%= student.name %></td>
						<td><%= student.email %></td>
						<td><%= student.password %></td>
						<td style="text-align: center;" width="30px"><a href="/students/<%= student.id %>/edit"> <i class="icon-pencil"></i> </a></td>
					</tr>
					<% end %>
				</table>
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

