<!DOCTYPE html>
<html lang="en">
	<head>
	  	<meta charset="utf-8" />
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
			<style type="text/css">
			@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700);
			
			body	{
				margin: 0;
				padding: 0;
				background-color: #e2e2e0;
			}

			#container {
				margin-left: auto;
				margin-bottom: 24px;
				margin-right: auto;
				margin-top: 24px;
				font-family: 'Open Sans', helvetica, sans-serif;
				display: block;
				padding: 64px 64px 48px 72px;
				width: 612px;
				line-height: 16px;
				font-size: 12px;
				background-color: #ffffff;
			   -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
			      -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
			           box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
			}
			
			h1 	{
				font-weight: 600;
				font-size: 18px;
				margin: 0 0 3px 0;
			}
			
			h2 	{
				font-size: 14px;
				margin: 6px 0 4px 0;
			}
			
			h3 	{
				font-weight: 600;
				font-size: 14px;
				margin: 6px 0 4px 15px;
			}
			
			p {
				margin: 0;
				padding: 6px 0 6px 0;
				text-align: left;
			}
		
			.lead	{
				margin-top: 16px;
				font-weight: 600;
				font-size: 1.2em;
				line-height: 1.3em;
			}
		
			.small	{
				font-size: 0.8em;
			}
				
			ul, ol	{
				margin: 0 0 0 12px;
			}
			
			ul li, ol li	{
				margin: 0;
				padding: 0 0 3px 0;
			}


			</style>

		</head>

<body>
	<div id="container">
		
		
		
		July 2, 2013
		
		Mr. Fred Schwartz
		Owner, Home Fixers
		111Fred Boulevard
		Miami, AL 20202
		

		Dear Mr. Schwartz:
		
		Thank you very much for the opportunity to interview for the help position at Home Fixers. I appreciate the time you spent with me.
		
		Now that we have discussed the job, I am more convinced than ever that working on your team would help me learn driving in preparation for my plans of Racing.
		
		If there is any additional information you need from me in order to make your decision, please let me know.
		
		Again, thank you for the opportunity to meet you and learn about Home Fixers.
		

		Sincerely,

		

		

	</div>
</body>
</html>
