<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span5 offset3">
				<div class="well">
		      <form class="form-signin">
		        <h2 class="form-signin-heading">New account</h2>
				  <input type="school_password" class="input-block-level" placeholder="School's password">
				  <p><small>If you do not know your schoo's password, please contact your guidance counselor or teacher.</small></p>
		        <input type="text" class="input-block-level" placeholder="Email address">
		        <input type="password" class="input-block-level" placeholder="Personal password">
		        <label class="checkbox">
		          <input type="checkbox" value="remember-me"> I am 13 or older
		        </label>
				  
		        <button class="btn btn-primary" type="submit">Create</button>
		      </form>
				</div>
				<a href="../resume/resume_admin">Create will go here when finished</a>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

